{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<h2>Answer: {{ question.text }}</h2>

<form action="{% url 'quailapp:answer' question.id %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <input id="id_your_answer" name="your_answer" type="text" class="form-control" placeholder="Your answer">
      <span class="input-group-btn">
		{% buttons %}
        	<button class="btn btn-secondary" type="submit" value="Submit">Submit</button>
		{% endbuttons %}
      </span>
    </div>
</form>

{% endblock %}