{% extends "base.html" %}
{% load bootstrap3 %}

{% block classes %}
{% for course in courses %}
<li>
	<a href="{% url 'quailapp:coursepage_live' course.id %}">{{ course }}</a>
</li>
{% endfor %}
{% endblock %}

{% block content %}
<a href="{% url 'quailapp:index' %}">
{% bootstrap_icon "arrow-left"%} Dashboard
</a>

<h2>Archived Feedback for Lectured Courses</h2>

<h4>Stats</h4>
<span>Total feedback given: {{ total }}</span>
<br>
<span>Score distribution:</span>
<div class="chart">
	{% for percent in percents %}
		{% if not forloop.first %}
  		<div style="width: {{ percent }}%;">{{ forloop.counter0 }}</div> {{ percent }}%
  		<br>
  		{% endif %}
  	{% endfor %}
</div>

{% for course in courses %}
	<h4>{{course}}</h4>
	{% if course.feedback_set.all|length == 0 %}
		N/A<br>
	{% else %}
		{% for feedback in course.feedback_set.all %}
			{% if not feedback.is_live %}
			<li>
				<div class="box-static-gray row">
					<div class="col-xs-1">
						<span>
						{% if not feedback.feedback_choice %}N/A{%else %}{{ feedback.feedback_choice }}/5{% endif %}
						</span>
					</div>
					<div class="col-xs-11">
						<span>
							{% if not feedback.text %}N/A{%else %}{{ feedback }}{% endif %}
						</span>
						<br>
						<span class="unemph">Submitted on: {{ feedback.created_on }}
								for lecture on {{ feedback.lecture_date }}
						</span>
					</div>
				</div>
			</li>
			{% endif %}
		{% endfor %}
	{% endif %}
	<br>
{% endfor %}

{% endblock %}