{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block classes %}
{% for course in courses %}
<li>
	<a href="{% url 'quailapp:coursepage_live' course.id %}">{{ course }}</a>
</li>
{% endfor %}
{% endblock %}

{% block social %}
{% for category in categories %}
<li>
	<a href="{% url 'quailapp:social_category' category.id %}">{{ category }}</a>
</li>
{% endfor %}
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<h1>{{ course }}</h1>

<span class="unemph">
Meets every {{ course.days_as_string }} {{ course.starttime }} - {{ course.endtime }}.
</span>

<script>
	var editing = false;
	var search_query = ""; 
</script>
<script>
$(document).ready(function() {
	$('#id_your_question').keyup(function() {
		$.ajax({
			url : "/similar_question",
			type : "get",
			data : {simQ: $('#id_your_question').val(), course: '{{course.id}}'},
			success: function (data) {
				var seperator = data.lastIndexOf("\n");
				var simQuestion = data.substring(0, seperator);
				var ID = data.substring(seperator + 1, data.length);
				//console.log(simQuestion);
				//console.log(ID);
				if (data != "") {
					$('#sim_question').attr('style', '');
					$('#sim_question_text').html(simQuestion);
					$('#sim_question_link').attr('href', "/"+ID);
				}
				else {
					$('#sim_question').attr('style', 'display: none;');
				}
			}
		})

	});
	$(document).on('click', '#search_button', function(event) {
		event.preventDefault();
		search_query = $('#id_q').val(); 
		$('#all_questions').load("/{{course.id}}/coursepage_live/?q=" + search_query + " #all_questions");
		$('#id_q').attr('placeholder', search_query);
	})

});
</script>

<h3 class="centered red">Live Questions</h3>
<p class="centered"><a class="centered" href="{% url 'quailapp:coursepage_archive' course.id %}">Archived Questions</a></p>

<div id="sim_question" class="box-red" style="display: none;">
	<a href="" id="sim_question_link" class="question-box">
		<h4 class="question">Is this similar to your question?</h4>
		<p id="sim_question_text"></p>
	</a>
</div>

<div class="box-static">
	<h4>Post a question!</h4>
	<div id="post_question">
		<form action="{% url 'quailapp:coursepage_live' course.id %}" method="post">
		    {% csrf_token %}
		      {% bootstrap_form form %}
		      <span class="input-group-btn">
				{% buttons %}
		        	<button class="btn btn-primary" type="submit" value="Unregister" onclick="this.disabled=true,this.form.submit();">Submit</button>
				{% endbuttons %}
		      </span>
		    </div>
		</form>
	</div>
</div>

<br>

{% if display_feedback and not provided_feedback %}
<div class="box-red">
	<a href="{% url 'quailapp:user_feedback' course.id %}" class="question-box">
		<h4 class="question">Provide feedback for the last lecture!</h4>
	</a>
</div>
<br>
{% endif %}

<div class="row">
	<div class="col-xs-8">
		<span class="right">
			<form method="get" action="{% url 'quailapp:coursepage_live' course.id %}">
				<div class="input-group">
				 	<input type="text" name="q" id="id_q" class="form-control" placeholder="Kernighan is cool">
				 	<span class="input-group-btn">
						<button type="submit" id="search_button" class="btn btn-secondary" value="Submit">
							{% bootstrap_icon "search" %}
						</button>
					</span>
				</div>
			</form>
		</span>
	</div>
	<div class="col-xs-4">
		<span class="dropdown">
		  	<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    	Tags...
		    	<span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<li>
					<button class="btn-link btn-link-gray" onclick="window.location.href='{% url 'quailapp:coursepage_live' course.id %}'" style="display: inline;">
						(All tags)
					</button>
				</li>
				<div id="display_tags">
				{% for tag in course.tag_set.all %}
					<li>
						<span>
							<button type="submit" name="tag" id="id_tag{{ tag.id}}" value= "{{ tag.id }}" class="btn-link btn-link-gray">
								{{ tag }}
							</button>
							{% if tag.submitter.netid == user.netid or not user.is_student %}
							<button type="submit" class="btn btn-link btn-link-red no-pad" id="delete_tag{{tag.id}}">
								{% bootstrap_icon "remove" %}
							</button>
							{% endif %}
						</span>
					</li>
				<script>
						var tag_id = "";
					</script>

					<script>
					// ajax for tags
					$(document).ready(function() {

						// filter by tag
						$(document).on('click','#id_tag{{tag.id}}', function(event) {
							tag_id = "{{tag.id}}";
							$('#all_questions').load("/{{course.id}}/coursepage_live/?tag=" + tag_id + " #all_questions");
						
						});

						// delete tag 
						$(document).on('click', '#delete_tag{{tag.id}}', function(event) {
							$.ajax({
								type: 'post',
								url: "{% url 'quailapp:delete_tag_from_coursepage' tag.id %}",
								success: function(data) {
									if (tag_id == "") {
										$('#display_tags').load("/{{course.id}}/coursepage_live/" + " #display_tags");
										$('#post_question').load("/{{course.id}}/coursepage_live/" + " #post_question");
									}
									else {
										$('#display_tags').load("/{{course.id}}/coursepage_live/?tag="+tag_id + " #display_tags");
										$('#post_question').load("/{{couse.id}}/coursepage_live/?tag=" + tag_id + " #post_question");
									}
									reload_pages();
								}

							});
						});
						// This function gets cookie with a given name
					    function getCookie(name) {
					        var cookieValue = null;
					        if (document.cookie && document.cookie != '') {
					            var cookies = document.cookie.split(';');
					            for (var i = 0; i < cookies.length; i++) {
					                var cookie = jQuery.trim(cookies[i]);
					                // Does this cookie string begin with the name we want?
					                if (cookie.substring(0, name.length + 1) == (name + '=')) {
					                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					                    break;
					                }
					            }
					        }
					        return cookieValue;
					    }
					    var csrftoken = getCookie('csrftoken');

					    /*
					    The functions below will create a header with csrftoken
					    */

					    function csrfSafeMethod(method) {
					        // these HTTP methods do not require CSRF protection
					        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
					    }
					    function sameOrigin(url) {
					        // test that a given url is a same-origin URL
					        // url could be relative or scheme relative or absolute
					        var host = document.location.host; // host + port
					        var protocol = document.location.protocol;
					        var sr_origin = '//' + host;
					        var origin = protocol + sr_origin;
					        // Allow absolute or scheme relative URLs to same origin
					        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
					            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
					            // or any other URL that isn't scheme relative or absolute i.e relative.
					            !(/^(\/\/|http:|https:).*/.test(url));
					    }

					    $.ajaxSetup({
					        beforeSend: function(xhr, settings) {
					            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
					                // Send the token to same-origin, relative URLs only.
					                // Send the token only if the method warrants CSRF protection
					                // Using the CSRFToken value acquired earlier
					                xhr.setRequestHeader("X-CSRFToken", csrftoken);
					            }
					        }
					    });
						
					})
					</script>
				{% endfor %}
			</ul>
		</span>

		<span class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Filter by...
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
		    <li>
		    	<form action="{% url 'quailapp:coursepage_live' course.id %}" method="post">
				{% csrf_token %}
		  			<button type="submit" name="filter" value="newest" class="btn-link btn-link-gray">{% if user.chosen_filter == "-created_on" %}<span class="unemph">Newest</span>{% else %}Newest{% endif %}</button>
				</form> 
			</li>
		    <li>
				<form action="{% url 'quailapp:coursepage_live' course.id %}" method="post">
					{% csrf_token %}
				  	<button type="submit" name="filter" value="oldest" class="btn-link btn-link-gray">{% if user.chosen_filter == "created_on" %}<span class="unemph">Oldest</span>{% else %}Oldest{% endif %}</button>
				</form>
			</li>
		    <li>
				<form action="{% url 'quailapp:coursepage_live' course.id %}" method="post">
				 	{% csrf_token %}
				 	 <button type="submit" name="filter" value="votes" class="btn-link btn-link-gray">{% if user.chosen_filter == "-votes" %}<span class="italic">Popularity</span>{% else %}Popularity{% endif %}</button>
				</form> 
			</li>
		  </ul>
		</span>

		{% if not user.is_student %}
		<form action="{% url 'quailapp:coursepage_live' course.id %}" method="post">
		    {% csrf_token %}
		    <div class="input-group">
		      <input id="id_your_tag" name="your_tag" type="text" class="form-control" placeholder="Add tag">
		      <span class="input-group-btn">
				{% buttons %}
		        	<button class="btn btn-secondary" type="submit" value="Unregister" onclick="this.disabled=true,this.form.submit();">Submit</button>
				{% endbuttons %}
		      </span>
		    </div>
		</form>
		{% endif %}
	</div>
</div>


<div id='all_questions'>

	{% if questions_pinned|length > 0 %}
<h4>Pinned questions</h4>
{% endif %}
<ul>
	{% for q in questions_pinned %}
	<script>
	// THIS IS NECESSARY BECAUSE $.ready ONLY RUNS WHEN PAGE FIRST LOADED
	$(document).bind('ajaxComplete ready', function() {
		// hide the edit button if you didn't submit the question
		var submitter = "{{q.submitter.netid}}";
		var user = "{{user.netid}}";
		
		if (submitter == user) {
			$('#edit_question{{q.id}}').show();
		}
		else {
			$('#edit_question{{q.id}}').hide(); 
		}
	})
	$(document).ready(function() {

		// some constants
		var tagAndEdit = 109;
		var tag = 96;
		var edit = 98;
		var none = 80; 

		//DROP DOWN ANSWER
		var req; // global variable for the ajax request
		//expand
		$(document).on('mouseenter', '#answers{{q.id}}', function(event) {

			event.preventDefault();
			var height = $('#answers{{q.id}}').height(); 
			//extend div to fit answer
			$(this).finish().animate({
	        height: ($(this).height()+75).toString()+'px'
	    	}, 300);

			//make the ajax request
	    	req = $.ajax({
				url : "{% url 'quailapp:answer' q.id %}",
				type : "get",
				data : {ans: $(this).attr("id_your_answer") },
				async: true,
				success: function (data) {
					if (data) {
						final_ans = "Answer: " + data;
			    		// replace answer
						$("#hide_ans{{q.id}}").html(final_ans);
						$("#hide_ans{{q.id}}").show(data);
					}
				}
			});
			
	    });
	    // hide the answer and shrink the div
		$(document).on('mouseleave', '#answers{{q.id}}', function(event) {
			// if the ajax request hasn't been completed yet, abort
			if(req && req.readyState != 4) {
        		req.abort();
        	}
			$("#hide_ans{{q.id}}").hide();
			// if no tags
		
			// if tag and editable
			if (("{{q.tags}}" != "") && ("{{q.submitter.netid}}" == "{{user.netid}}")) {
	    		$(this).animate({
	        		height: tagAndEdit.toString()+'px'
	    		}, 300);
	    	}
	    	// if just a tag
	    	else if (("{{q.tags}}" != "")) {
	    		$(this).animate({
	        		height: tag.toString()+'px'
	    		}, 300);
	    	}
	    	// editable
	    	else if (("{{q.submitter.netid}}" == "{{user.netid}}")) {
	    		$(this).animate({
	        		height: edit.toString()+'px'
	    		}, 300);
	    	}
	    	else {
	    		$(this).animate({
	        		height: none.toString()+'px'
	    		}, 300);
	    	}
	    	
		});

    	

		var q_text = "{{q.text}}";

		// click edit button
		$(document).on('click', '#edit_question{{q.id}}', function(event) {
			event.preventDefault();
			$("#question{{q.id}}").html('<input id="submit_edit{{q.id}}" type="text" class="form-control" value="">');
			$("#submit_edit{{q.id}}").attr("value", q_text);
			// disable link temporarily while user edits
			$('#detail{{q.id}}').click(function(event) {
				event.preventDefault();
			})
			$('#edit_question{{q.id}}').hide();
			$('#submit_edit_button{{q.id}}').css('visibility', 'visible');
			editing = true; 

		})

		// click submit button
		$(document).on('click', '#submit_edit_button{{q.id}}', function(event) {
			event.preventDefault();
			$.ajax({
				type: 'post',
				url: "{% url 'quailapp:edit_question' q.id %}",
				data: {text: $("#submit_edit{{q.id}}").val() },
				success: function(data) {
					$('#submit_edit_button{{q.id}}').css('visibility', 'hidden');
					$('#edit_question{{q.id}}').show();
					$("#question{{q.id}}").html(data);
					q_text = data;
					editing = false;
				}
			})
		})

		// FOR AJAX UPVOTING/DOWNVOTING 
		$(document).on('click', '[name=vote{{q.id}}]', function(event) {
			event.preventDefault();
			$.ajax({
				type: 'post',
				url: "{% url 'quailapp:vote' q.id %}",
				data : {vote : $(this).attr("value")},
				success: function (data) {
					//$('#numvotes{{q.id}}').html(data);
					$('#voting{{q.id}}').load("/{{course.id}}/coursepage_live/" + " #voting{{q.id}}");
				}
			})
		})

		// FOR AJAX STARRING/UNSTARRING
		$(document).on('click', '[name=star{{q.id}}]', function(event) {
			event.preventDefault();
			$.ajax({
				type: 'post',
				url: "{% url 'quailapp:star' q.id %}",
				data : {star : $(this).attr("value") },
				success: function (data) {
					//$('#numstars{{q.id}}').html(data);
					$('#starring{{q.id}}').load("/{{course.id}}/coursepage_live/" + " #starring{{q.id}}");
				}
			})
		})

		//  FOR AJAX UNPINNING
		$(document).on('click', '[name=pin{{q.id}}]', function(event) {
			event.preventDefault();
			$.ajax({
				type: 'post', 
				url: "{% url 'quailapp:pin' q.id %}",
				data: {'pin': $(this).attr('value')},
				success: function(data) {
					reload_pages();
				}
			});
		});


	    // This function gets cookie with a given name
	    function getCookie(name) {
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	            var cookies = document.cookie.split(';');
	            for (var i = 0; i < cookies.length; i++) {
	                var cookie = jQuery.trim(cookies[i]);
	                // Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	        }
	        return cookieValue;
	    }
	    var csrftoken = getCookie('csrftoken');

	    /*
	    The functions below will create a header with csrftoken
	    */

	    function csrfSafeMethod(method) {
	        // these HTTP methods do not require CSRF protection
	        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    }
	    function sameOrigin(url) {
	        // test that a given url is a same-origin URL
	        // url could be relative or scheme relative or absolute
	        var host = document.location.host; // host + port
	        var protocol = document.location.protocol;
	        var sr_origin = '//' + host;
	        var origin = protocol + sr_origin;
	        // Allow absolute or scheme relative URLs to same origin
	        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
	            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
	            // or any other URL that isn't scheme relative or absolute i.e relative.
	            !(/^(\/\/|http:|https:).*/.test(url));
	    }

	    $.ajaxSetup({
	        beforeSend: function(xhr, settings) {
	            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
	                // Send the token to same-origin, relative URLs only.
	                // Send the token only if the method warrants CSRF protection
	                // Using the CSRFToken value acquired earlier
	                xhr.setRequestHeader("X-CSRFToken", csrftoken);
	            }
	        }
	    });
	});
	</script>
	<li>
		{% if q.submitter.netid == user.netid %}
		<div id='answers{{q.id}}' class="box-blue row">
		{% else %}
		<div id='answers{{q.id}}' class="box row">
		{% endif %}
			<a href="{% url 'quailapp:detail' q.id %}" class="question-box" id="detail{{q.id}}">	
				<div class="col-xs-1">
						{% buttons %}
						<div class="btn-group-vertical btn-group-sm" role="group" id="voting{{q.id}}">
							<button type="submit" class="btn btn-link{% if q.submitter.netid == user.netid %} disabled{% elif user.netid in q.users_upvoted %} disabled{% endif %}" name="vote{{q.id}}" id="upvote" value="1" {% if q.submitter.netid == user.netid %}disabled{% endif %}>
								{% bootstrap_icon "chevron-up" %}
							</button>
							<div class="centered" id="numvotes{{q.id}}">{{ q.votes }}</div>
							<button type="submit" class="btn btn-link btn-link-red{% if q.submitter.netid == user.netid %} disabled{% elif user.netid in q.users_downvoted %} disabled{% endif %}" name="vote{{q.id}}" id="downvote" value="-1" {% if q.submitter.netid == user.netid %}disabled{% endif %}>
								{% bootstrap_icon "chevron-down" %}
							</button>
						</div>
						{% endbuttons %}
					</form>
				</div>
				<div class="col-xs-10">
					<p class="question">
						<span class="input-group">
					      	<span id="question{{q.id}}">{{ q.text }}</span>
					      	<span class="input-group-btn">
								<button id="submit_edit_button{{q.id}}" type="submit" class="btn btn-secondary btn-sm">Submit</button>
					      </span>
					    </span>
						<span class="unemph">{{ q.created_on }}
						{% if not user.is_student %}
							by {{ q.submitter.first_name }} {{ q.submitter.last_name }}
						{% endif %}
						</span>
						<br>
						<button id="edit_question{{q.id}}" type="submit" class="btn btn-link btn-sm no-pad" >Edit</button>
					</p>
					{% for tag in q.tags_as_list %}
						<span class="box-small">{{ tag }}</span>
					{% endfor %}
				<div id="hide_ans{{q.id}}" class="dropdown_answer">
				</div>
				</div>
				<div class="col-xs-1">
					<form method="POST">
						{% csrf_token %}
						<div id="starring{{q.id}}" class="right">
							{% if user.netid in q.users_starred %}
							<button type="submit" class="btn btn-link btn-link-yellow no-pad" value="-1" name="star{{q.id}}">
								{% bootstrap_icon "star" %}
							</button>
							{% else %}
							<button type="submit" class="btn btn-link btn-link-yellow no-pad" value="1" name="star{{q.id}}">
								{% bootstrap_icon "star-empty" %}
							</button>
							{% endif %}
							<span id="numstars{{q.id}}">{{ q.stars }}</span>
						</div>
					</form>
					{% if q.submitter.netid == user.netid or not user.is_student %}
					<form action="{% url 'quailapp:delete_from_coursepage' q.id %}" method="POST">
						{% csrf_token %}
							<button type="submit" class="btn btn-link btn-link-red right">
								{% bootstrap_icon "remove" %}
							</button>
					</form>
					{% endif %}
					{% if not user.is_student %}
						{% if q.is_pinned %}
							
							<button class="btn btn-link right" type="submit" name="pin{{q.id}}" id="unpin" value="0">
								<img onmouseover="this.src='{% static "quailapp/unpin-active.png" %}'"
								onmouseout="this.src='{% static "quailapp/unpin.png" %}'"
								src="{% static "quailapp/unpin.png" %}" alt="Pin">
							</button>

							{% else %}
							
							<button class="btn btn-link right" type="submit" name="pin{{q.id}}" id="pin" value="1">
								<img onmouseover="this.src='{% static "quailapp/pin-active.png" %}'"
								onmouseout="this.src='{% static "quailapp/pin.png" %}'"
								src="{% static "quailapp/pin.png" %}" alt="Pin">
							</button>

						{% endif %}
					{% endif %}
				</div>
			</a>
		</div>
	</li>
	{% endfor %}
</ul>

	<h4>Submitted questions</h4>
	{% if questions|length == 0 %}
	No Questions found
	<br>
	{% endif %}
	<ul>
		{% for q in questions %}
		
		<script>
		// THIS IS NECESSARY BECAUSE $.ready ONLY RUNS WHEN PAGE FIRST LOADED
		$(document).bind('ajaxComplete ready', function() {

			// hide the edit button if you didn't submit the question
			var submitter = "{{q.submitter.netid}}";
			var user = "{{user.netid}}";
			

			if (submitter == user) {
				$('#edit_question{{q.id}}').show();
			}
			else {
				$('#edit_question{{q.id}}').hide(); 
			}
		})
		$(document).ready(function() {

				// some constants
			var tagAndEdit = 109;
			var tag = 96;
			var edit = 98;
			var none = 80; 

			//DROP DOWN ANSWER
			var req; // global variable for the ajax request
			//expand
			$(document).on('mouseenter', '#answers{{q.id}}', function(event) {

				event.preventDefault();

				var height = $('#answers{{q.id}}').height(); 
				//extend div to fit answer
				$(this).finish().animate({
		        height: ($(this).height()+75).toString()+'px'
		    	}, 300);

				//make the ajax request
		    	req = $.ajax({
					url : "{% url 'quailapp:answer' q.id %}",
					type : "get",
					data : {ans: $(this).attr("id_your_answer") },
					async: true,
					success: function (data) {
						if (data) {
							final_ans = "Answer: " + data;
				    		// replace answer
							$("#hide_ans{{q.id}}").html(final_ans);
							$("#hide_ans{{q.id}}").show(data);
						}
					}
				});
				
		    });
		    // hide the answer and shrink the div
			$(document).on('mouseleave', '#answers{{q.id}}', function(event) {
				// if the ajax request hasn't been completed yet, abort
				if(req && req.readyState != 4) {
	        		req.abort();
	        	}
				$("#hide_ans{{q.id}}").hide();
				// if no tags
			
				// if tag and editable
				if (("{{q.tags}}" != "") && ("{{q.submitter.netid}}" == "{{user.netid}}")) {
		    		$(this).animate({
		        		height: tagAndEdit.toString()+'px'
		    		}, 300);
		    	}
		    	// if just a tag
		    	else if (("{{q.tags}}" != "")) {
		    		$(this).animate({
		        		height: tag.toString()+'px'
		    		}, 300);
		    	}
		    	// editable
		    	else if (("{{q.submitter.netid}}" == "{{user.netid}}")) {
		    		$(this).animate({
		        		height: edit.toString()+'px'
		    		}, 300);
		    	}
		    	else {
		    		$(this).animate({
		        		height: none.toString()+'px'
		    		}, 300);
		    	}
		    	
			});


			var q_text = "{{q.text}}";
			// click edit button
			$(document).on('click', '#edit_question{{q.id}}', function(event) {
				event.preventDefault();
				$("#question{{q.id}}").html('<input id="submit_edit{{q.id}}" type="text" class="form-control" value="">');
				$("#submit_edit{{q.id}}").attr("value", q_text);
				// disable link temporarily while user edits
				$('#detail{{q.id}}').click(function(event) {
					event.preventDefault();
				})
				$('#edit_question{{q.id}}').hide();
				$('#submit_edit_button{{q.id}}').css('visibility', 'visible');
				editing = true;
			})

			// click submit button
			$(document).on('click', '#submit_edit_button{{q.id}}', function(event) {
				event.preventDefault();
				$.ajax({
					type: 'post',
					url: "{% url 'quailapp:edit_question' q.id %}",
					data: {text: $("#submit_edit{{q.id}}").val() },
					success: function(data) {
						$('#submit_edit_button{{q.id}}').css('visibility', 'hidden');
						$('#edit_question{{q.id}}').show();
						$("#question{{q.id}}").html(data);
						q_text = data;
						editing = false;
					}
				})
			})

			// FOR AJAX UPVOTING/DOWNVOTING 
			$(document).on('click', '[name=vote{{q.id}}]', function(event) {
				event.preventDefault();
				$.ajax({
					type: 'post',
					url: "{% url 'quailapp:vote' q.id %}",
					data : {vote : $(this).attr("value") },
					success: function (data) {
						//$('#numvotes{{q.id}}').html(data);
						$('#voting{{q.id}}').load("/{{course.id}}/coursepage_live/" + " #voting{{q.id}}");
					}
				})
			})

			// FOR AJAX STARRING/UNSTARRING
			$(document).on('click', '[name=star{{q.id}}]', function(event) {
				event.preventDefault();
				$.ajax({
					type: 'post',
					url: "{% url 'quailapp:star' q.id %}",
					data : {star : $(this).attr("value") },
					success: function (data) {
						//$('#numstars{{q.id}}').html(data);
						$('#starring{{q.id}}').load("/{{course.id}}/coursepage_live/" + " #starring{{q.id}}");
					}
				})
			})

			//  FOR AJAX UNPINNING
			$(document).on('click', '[name=pin{{q.id}}]', function(event) {
				event.preventDefault();
				$.ajax({
					type: 'post', 
					url: "{% url 'quailapp:pin' q.id %}",
					data: {'pin': $(this).attr('value')},
					success: function(data) {
						reload_pages();
					}
				});
			});

		    // This function gets cookie with a given name
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    var csrftoken = getCookie('csrftoken');

		    /*
		    The functions below will create a header with csrftoken
		    */

		    function csrfSafeMethod(method) {
		        // these HTTP methods do not require CSRF protection
		        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		    }
		    function sameOrigin(url) {
		        // test that a given url is a same-origin URL
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }

		    $.ajaxSetup({
		        beforeSend: function(xhr, settings) {
		            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
		                // Send the token to same-origin, relative URLs only.
		                // Send the token only if the method warrants CSRF protection
		                // Using the CSRFToken value acquired earlier
		                xhr.setRequestHeader("X-CSRFToken", csrftoken);
		            }
		        }
		    });
		});
		</script>
		<li>
			{% if q.submitter.netid == user.netid %}
			<div id='answers{{q.id}}' class="box-blue row">
			{% else %}
			<div id='answers{{q.id}}' class="box row">
			{% endif %}
				<a href="{% url 'quailapp:detail' q.id %}" class="question-box" id="detail{{q.id}}">	
					<div class="col-xs-1">
						<form method="POST">
							{% csrf_token %}
							{% buttons %}
							<div class="btn-group-vertical btn-group-sm" role="group" id="voting{{q.id}}">
								<button type="submit" class="btn btn-link{% if q.submitter.netid == user.netid %} disabled{% elif user.netid in q.users_upvoted %} disabled{% endif %}" name="vote{{q.id}}" id="upvote" value="1" {% if q.submitter.netid == user.netid %}disabled{% endif %}>
									{% bootstrap_icon "chevron-up" %}
								</button>
								<div class="centered" id="numvotes{{q.id}}">{{ q.votes }}</div>
								<button type="submit" class="btn btn-link btn-link-red{% if q.submitter.netid == user.netid %} disabled{% elif user.netid in q.users_downvoted %} disabled{% endif %}" name="vote{{q.id}}" id="downvote" value="-1" {% if q.submitter.netid == user.netid %}disabled{% endif %}>
									{% bootstrap_icon "chevron-down" %}
								</button>
							</div>
							{% endbuttons %}
						</form>
					</div>
					<div class="col-xs-10">
						<p class="question">
							<span class="input-group">
						      	<span id="question{{q.id}}">{{ q.text }}</span>
						      	<span class="input-group-btn">
									<button id="submit_edit_button{{q.id}}" type="submit" class="btn btn-secondary btn-sm">Submit</button>
						      </span>
						    </span>
							<span class="unemph">{{ q.created_on }}
							{% if not user.is_student %}
								by {{ q.submitter.first_name }} {{ q.submitter.last_name }}
							{% endif %}
							</span>
							<br>
							<button id="edit_question{{q.id}}" type="submit" class="btn btn-link btn-sm no-pad" >Edit</button>
						</p>
						{% for tag in q.tags_as_list %}
							<span class="box-small">{{ tag }}</span>
						{% endfor %}
					<div id="hide_ans{{q.id}}" class="dropdown_answer">
					</div>
					</div>
					<div class="col-xs-1">
						<form method="POST">
							{% csrf_token %}
							<div id="starring{{q.id}}" class="right">
								{% if user.netid in q.users_starred %}
								<button type="submit" class="btn btn-link btn-link-yellow no-pad" value="-1" name="star{{q.id}}">
									{% bootstrap_icon "star" %}
								</button>
								{% else %}
								<button type="submit" class="btn btn-link btn-link-yellow no-pad" value="1" name="star{{q.id}}">
									{% bootstrap_icon "star-empty" %}
								</button>
								{% endif %}
								<span id="numstars{{q.id}}">{{ q.stars }}</span>
							</div>
						</form>
						{% if q.submitter.netid == user.netid or not user.is_student %}
						<form action="{% url 'quailapp:delete_from_coursepage' q.id %}" method="POST">
							{% csrf_token %}
								<button type="submit" class="btn btn-link btn-link-red right">
									{% bootstrap_icon "remove" %}
								</button>
						</form>
						{% endif %}
						{% if not user.is_student %}
							{% if q.is_pinned %}

									<button class="btn btn-link right" type="submit" name="pin{{q.id}}" id="unpin" value="0">
										<img onmouseover="this.src='{% static "quailapp/unpin-active.png" %}'"
										onmouseout="this.src='{% static "quailapp/unpin.png" %}'"
										src="{% static "quailapp/unpin.png" %}" alt="Pin">
									</button>
								{% else %}
							
									<button class="btn btn-link right" type="submit" name="pin{{q.id}}" id="pin" value="1">
										<img onmouseover="this.src='{% static "quailapp/pin-active.png" %}'"
										onmouseout="this.src='{% static "quailapp/pin.png" %}'"
										src="{% static "quailapp/pin.png" %}" alt="Pin">
									</button>
							{% endif %}
						{% endif %}
					</div>
				</a>
			</div>
		</li>
		{% endfor %}
	</ul>

	<div class="pagination">
	    <span class="step-links">
	    	{% if questions.has_previous %}
	    		<a class="btn btn-link btn-link-gray" href="?page={{ questions.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
		    		{% bootstrap_icon "chevron-left" %}
				</a>
			{% else %}
			    <a class="btn btn-link btn-link-gray disabled">
		    		{% bootstrap_icon "chevron-left" %}
				</a>
	        {% endif %}

	        <span class="current">
	            Page {{ questions.number }} of {{ questions.paginator.num_pages }}
	        </span>

	        {% if questions.has_next %}
	    		<a class="btn btn-link btn-link-gray" href="?page={{ questions.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
		    		{% bootstrap_icon "chevron-right" %}
				</a>
			{% else %}
			    <a class="btn btn-link btn-link-gray disabled">
		    		{% bootstrap_icon "chevron-right" %}
				</a>
	        {% endif %}
	    </span>
	</div>

</div>

<script>
	var num = 0;
	var changed = false; 
</script>
 <script>
// simple script to reload page every 5 seconds, as long as a question isn't being edited or a question isn't being posted 
function reload_pages() {

	//console.log(editing);

	if (search_query == "" && tag_id == "") {
		$('#all_questions').load("/{{course.id}}/coursepage_live/" + " #all_questions");
	}
	else if (search_query == "")
	{
		$('#all_questions').load("/{{course.id}}/coursepage_live/?tag=" + tag_id + " #all_questions");
	}
	else {
		$('#all_questions').load("/{{course.id}}/coursepage_live/?q=" + search_query + " #all_questions");
	}

	
}
function check_ifanswered() {

	$.ajax({
		type : 'get',
		url: "{% url 'quailapp:answered_questions' course.id %}",
		dataType: 'json',
		success: function(data) {
			if (data) {
				$('#notification').html("");
				$("#notification").fadeIn("slow").append('<a href="/' + data[0].pagek+'">Your question was answered: '+data[0].fields.text+'</a><span class="dismiss"><a title="dismiss this notification">x</a></span>');
				$(".dismiss").click(function(){
       				$("#notification").fadeOut("slow");
				});
			}

			else {
				changed = false;
			}
		}

	})
	//$("#notification").fadeIn("slow").append('your message');
	
	
}
// $(document).ajaxComplete(function() {
// 	if (changed) {
// 		for (i = 0; i <= num; i++) {
// 			$('#dismiss'+i).on('click', function() {

// 				console.log("i can click"+i);
// 				$("#notification"+(i-1)).fadeOut("slow");
// 			});
// 		}
// 	}
// });
$(document).ready(function() {

	setInterval(function() {
		if (!editing) {
			reload_pages();
			check_ifanswered();
		}
	}, 10000);

})
 </script>


<div id="notification" style="display: none;">
	<span class="dismiss">
		<a title="dismiss this notification">x</a>
	</span>
</div>

</ul>
{% endblock %}