{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<h1>{{ course }}</h1>

<h3>Post a question!</h3>
<form action="{% url 'quailapp:coursepage' course.id %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <input id="id_your_question" name="your_question" type="text" class="form-control" placeholder="Your question">
      <span class="input-group-btn">
		{% buttons %}
        	<button class="btn btn-secondary" type="submit" value=value="Unregister" onclick="this.disabled=true,this.form.submit();">Submit</button>
		{% endbuttons %}
      </span>
    </div>
</form>

<ul>
	{% for q in questions_pinned %}
	<li>
		{% if q.submitter.netid == netid %}
		<div class="box-blue row">
		{% else %}
		<div class="box row">
		{% endif %}
			<a href="{% url 'quailapp:detail' q.id %}" class="question-box">
				<div class="col-xs-1">
					<form action="{% url 'quailapp:vote' q.id %}" method="POST">
						{% csrf_token %}
						{% buttons %}
						<div class="btn-group-vertical btn-group-sm" role="group">
							<button type="submit" class="btn btn-link{% if q.submitter.netid == netid %} disabled{% endif %}" name="vote" id="upvote" value="1">
								{% bootstrap_icon "chevron-up" %}
							</button>
							<div class="centered votes">{{ q.votes }}</div>
							<button type="submit" class="btn btn-link {% if q.submitter.netid == netid %} disabled{% endif %}" name="vote" id="downvote" value="-1">
								{% bootstrap_icon "chevron-down" %}
							</button>
						</div>
						{% endbuttons %}
					</form>
				</div>
				<div class="col-xs-10">
					<p class="question">
						{{ q.text }}<br>
						<span class="unemph">{{ q.created_on }}</span><br>
					</p>
				</div>
				<div class="col-xs-1">
					{% if q.is_pinned %}
						<form action="{% url 'quailapp:pin' q.id %}" method="POST">
							{% csrf_token %}
							<button class="btn btn-link" type="submit" name="pin" id="unpin" value="0">
								<img class="small" src="{% static "quailapp/unpin.png" %}" alt="Unpin">
							</button>
						</form>
						{% else %}
						<form action="{% url 'quailapp:pin' q.id %}" method="POST">
							{% csrf_token %}
							<button class="btn btn-link" type="submit" name="pin" id="pin" value="1">
								<img class="small" src="{% static "quailapp/pin.png" %}" alt="Pin">
							</button>
						</form>
					{% endif %}
				</div>
			</a>
		</div>
	</li>
	{% endfor %}
</ul>

<br>
<br>
<ul>
	{% for q in questions %}
	<li>
		{% if q.submitter.netid == netid %}
		<div class="box-blue row">
		{% else %}
		<div class="box row">
		{% endif %}
			<a href="{% url 'quailapp:detail' q.id %}" class="question-box">
				<div class="col-xs-1">
					<form action="{% url 'quailapp:vote' q.id %}" method="POST">
						{% csrf_token %}
						{% buttons %}
						<div class="btn-group-vertical btn-group-sm" role="group">
							<button type="submit" class="btn btn-link{% if q.submitter.netid == netid %} disabled{% endif %}" name="vote" id="upvote" value="1">
								{% bootstrap_icon "chevron-up" %}
							</button>
							<div class="centered votes">{{ q.votes }}</div>
							<button type="submit" class="btn btn-link {% if q.submitter.netid == netid %} disabled{% endif %}" name="vote" id="downvote" value="-1">
								{% bootstrap_icon "chevron-down" %}
							</button>
						</div>
						{% endbuttons %}
					</form>
				</div>
				<div class="col-xs-10">
					<p class="question">
						{{ q.text }}<br>
						<span class="unemph">{{ q.created_on }}</span><br>
					</p>
				</div>
				<div class="col-xs-1">
					{% if q.is_pinned %}
						<form action="{% url 'quailapp:pin' q.id %}" method="POST">
							{% csrf_token %}
							<button class="btn btn-link" type="submit" name="pin" id="unpin" value="0">
								<img class="small" src="{% static "quailapp/unpin.png" %}" alt="Unpin">
							</button>
						</form>
						{% else %}
						<form action="{% url 'quailapp:pin' q.id %}" method="POST">
							{% csrf_token %}
							<button class="btn btn-link" type="submit" name="pin" id="pin" value="1">
								<img class="small" src="{% static "quailapp/pin.png" %}" alt="Pin">
							</button>
						</form>
					{% endif %}
				</div>
			</a>
		</div>
	</li>
	{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if questions.has_previous %}
            <a href="?page={{ questions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ questions.number }} of {{ questions.paginator.num_pages }}
        </span>

        {% if questions.has_next %}
            <a href="?page={{ questions.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}