{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<h1>{{ course }}</h1>

<h3>Post a question!</h3>
<form action="{% url 'quailapp:coursepage' course.id %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <input id="id_your_question" name="your_question" type="text" class="form-control" placeholder="Your question">
      <span class="input-group-btn">
		{% buttons %}
        	<button class="btn btn-secondary" type="submit" value="Submit">Submit</button>
		{% endbuttons %}
      </span>
    </div>
</form>

<ul>
	{% for q in course.question_set.all %}
	<li>
		{% if q.submitter.netid == netid %}
		<div class="box-blue row">
		{% else %}
		<div class="box row">
		{% endif %}
			<a href="{% url 'quailapp:detail' q.id %}" class="question-box">
				<div class="col-xs-1">
					<form action="{% url 'quailapp:vote' q.id %}" method="POST">
						{% csrf_token %}
						{% buttons %}
						<div class="btn-group-vertical btn-group-sm" role="group">
							<button type="submit" class="btn btn-link{% if q.submitter.netid == netid %} disabled{% endif %}" name="vote" id="upvote" value="1">
								{% bootstrap_icon "chevron-up" %}
							</button>
							<div class="centered votes">{{ q.votes }}</div>
							<button type="submit" class="btn btn-link {% if q.submitter.netid == netid %} disabled{% endif %}" name="vote" id="downvote" value="-1">
								{% bootstrap_icon "chevron-down" %}
							</button>
						</div>
						{% endbuttons %}
					</form>
				</div>
				<div class="col-xs-11">
					<p class="question">
						{{ q.text }}<br>
						<span class="unemph">{{ q.created_on }}</span><br>
					</p>
				</div>
			</a>
		</div>
	</li>
	{% endfor %}
</ul>

{% endblock %}