{% extends "basedark.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block classes %}
{% for course in courses %}
<li>
	<a href="{% url 'quailapp:coursepage_live' course.id %}">{{ course }}</a>
</li>
{% endfor %}
{% endblock %}

{% block social %}
{% for category in categories %}
<li>
	<a href="{% url 'quailapp:social_category' category.id %}">{{ category }}</a>
</li>
{% endfor %}
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<h1 class="dark">{{ course }}</h1>
<span class="unemph">
Meets every {{ course.days_as_string }} {{ course.starttime }} - {{ course.endtime }}.
</span>

<script>
	var editing = false;
	var search_query = ""; 
</script>
<script>
$(document).ready(function() {
	
	$(document).on('click', '#search_button', function(event) {
		event.preventDefault();
		search_query = $('#id_q').val(); 
		$('#all_questions').load("/{{course.id}}/coursepage_live/?q=" + search_query + " #all_questions");
		$('#id_q').attr('placeholder', search_query);
		console.log("searched");
	});

});
</script>


<h3 class="centered dark">Archived Questions</h3>
<p class="centered dark"><a href="{% url 'quailapp:coursepage_live' course.id %}">Live Questions</a></p>

{% if not user.is_student %}
<span class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Archive by...
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
    <li>
		<form action="{% url 'quailapp:coursepage_archive' course.id %}" method="post" style="display: inline;">
			{% csrf_token %}
			<button type="submit" name="archive_type" value="every_lecture" class="btn-link btn-link-gray">{% if course.archive_type == "every_lecture" %}<span class="unemph">Every lecture</span>{% else %}Every lecture{% endif %}</button>
		</form>
	</li>
    <li>
		<form action="{% url 'quailapp:coursepage_archive' course.id %}" method="post" style="display: inline;">
			{% csrf_token %}
			<button type="submit" name="archive_type" value="every_other_lecture" class="btn-link btn-link-gray">{% if course.archive_type == "every_other_lecture" %}<span class="unemph">Every other lecture</span>{% else %}Every other lecture{% endif %}</button>
		</form>
	</li>
    <li>
		<form action="{% url 'quailapp:coursepage_archive' course.id %}" method="post" style="display: inline;">
			{% csrf_token %}
			<button type="submit" name="archive_type" value="every_week" class="btn-link btn-link-gray">{% if course.archive_type == "every_week" %}<span class="unemph">Every week</span>{% else %}Every week{% endif %}</button>
		</form>
	</li>
	<li>
		<form action="{% url 'quailapp:coursepage_archive' course.id %}" method="post" style="display: inline;">
			{% csrf_token %}
			<button type="submit" name="archive_type" value="every_two_weeks" class="btn-link btn-link-gray">{% if course.archive_type == "every_two_weeks" %}<span class="unemph">Every two weeks</span>{% else %}Every two weeks{% endif %}</button>
		</form>
	</li>
	<li>
		<form action="{% url 'quailapp:coursepage_archive' course.id %}" method="post" style="display: inline;">
			{% csrf_token %}
			<button type="submit" name="archive_type" value="every_month" class="btn-link btn-link-gray">{% if course.archive_type == "every_month" %}<span class="unemph">Every month</span>{% else %}Every month{% endif %}</button>
		</form>
	</li>
  </ul>
</span>
{% endif %}

<div class="row">
	<div class="col-xs-8">
		<span class="right">
			<form method="get" action="{% url 'quailapp:coursepage_archive' course.id %}">
				{% csrf_token %}
				<div class="input-group">
				 	<input type="text" name="q" id="id_q" class="form-control" placeholder="Kernighan is cool">
				 	<span class="input-group-btn">
						<button type="submit" class="btn btn-secondary" value="Submit">
							{% bootstrap_icon "search" %}
						</button>
					</span>
				</div>
			</form>
		</span>
	</div>
	<div class="col-xs-4">
		<span class="dropdown">
		  	<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    	Tags...
		    	<span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<li>
					<button class="btn-link btn-link-gray" onclick="window.location.href='{% url 'quailapp:coursepage_archive' course.id %}'" style="display: inline;">
						(All tags)
					</button>
				</li>
				<div id="display_tags">	
				{% for tag in course.tag_set.all %}
					<li>
					<button type="submit" name="tag" id="id_tag{{ tag.id}}" value= "{{ tag.id }}" class="btn-link btn-link-gray">
						{{ tag }}
					</button>
					{% if tag.submitter.netid == user.netid or not user.is_student %}
					<button type="submit" class="btn btn-link btn-link-red no-pad" id="delete_tag{{tag.id}}">{% bootstrap_icon "remove" %}</button><br>
					{% endif %}
					</li>

					<script>
						var tag_id = "";
					</script>

					<script>
					// ajax for tags
					$(document).ready(function() {

						// filter by tag
						$(document).on('click','#id_tag{{tag.id}}', function(event) {
						$('#all_questions').load("/{{course.id}}/coursepage_archive/?tag={{tag.id}}" + " #all_questions");
						tag_id = "{{tag.id}}";
						});

						// delete tag 
						$(document).on('click', '#delete_tag{{tag.id}}', function(event) {
							$.ajax({
								type: 'post',
								url: "{% url 'quailapp:delete_tag_from_coursepage' tag.id %}",
								success: function(data) {
									if (tag_id == "") {
										$('#display_tags').load("/{{course.id}}/coursepage_archive/" + " #display_tags");
										$('#post_question').load("/{{course.id}}/coursepage_archive/" + " #post_question");
									}
									else {
										$('#display_tags').load("/{{course.id}}/coursepage_archive/?tag="+tag_id + " #display_tags");
										$('#post_question').load("/{{course.id}}/coursepage_archive/?tag=" + tag_id + " #post_question");
									}
									reload_pages();
								}

							});
						});
						// This function gets cookie with a given name
					    function getCookie(name) {
					        var cookieValue = null;
					        if (document.cookie && document.cookie != '') {
					            var cookies = document.cookie.split(';');
					            for (var i = 0; i < cookies.length; i++) {
					                var cookie = jQuery.trim(cookies[i]);
					                // Does this cookie string begin with the name we want?
					                if (cookie.substring(0, name.length + 1) == (name + '=')) {
					                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					                    break;
					                }
					            }
					        }
					        return cookieValue;
					    }
					    var csrftoken = getCookie('csrftoken');

					    /*
					    The functions below will create a header with csrftoken
					    */

					    function csrfSafeMethod(method) {
					        // these HTTP methods do not require CSRF protection
					        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
					    }
					    function sameOrigin(url) {
					        // test that a given url is a same-origin URL
					        // url could be relative or scheme relative or absolute
					        var host = document.location.host; // host + port
					        var protocol = document.location.protocol;
					        var sr_origin = '//' + host;
					        var origin = protocol + sr_origin;
					        // Allow absolute or scheme relative URLs to same origin
					        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
					            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
					            // or any other URL that isn't scheme relative or absolute i.e relative.
					            !(/^(\/\/|http:|https:).*/.test(url));
					    }

					    $.ajaxSetup({
					        beforeSend: function(xhr, settings) {
					            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
					                // Send the token to same-origin, relative URLs only.
					                // Send the token only if the method warrants CSRF protection
					                // Using the CSRFToken value acquired earlier
					                xhr.setRequestHeader("X-CSRFToken", csrftoken);
					            }
					        }
					    });
						
					})
					</script>
				{% endfor %}
			</ul>
		</span>

		<span class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Filter by...
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
		    <li>
		    	<form action="{% url 'quailapp:coursepage_archive' course.id %}" method="post">
				{% csrf_token %}
		  			<button type="submit" name="filter" value="newest" class="btn-link btn-link-gray">{% if user.chosen_filter == "-created_on" %}<span class="unemph">Newest</span>{% else %}Newest{% endif %}</button>
				</form> 
			</li>
		    <li>
				<form action="{% url 'quailapp:coursepage_archive' course.id %}" method="post">
					{% csrf_token %}
				  	<button type="submit" name="filter" value="oldest" class="btn-link btn-link-gray">{% if user.chosen_filter == "created_on" %}<span class="unemph">Oldest</span>{% else %}Oldest{% endif %}</button>
				</form>
			</li>
		    <li>
				<form action="{% url 'quailapp:coursepage_archive' course.id %}" method="post">
				 	{% csrf_token %}
				 	 <button type="submit" name="filter" value="votes" class="btn-link btn-link-gray">{% if user.chosen_filter == "-votes" %}<span class="italic">Popularity</span>{% else %}Popularity{% endif %}</button>
				</form> 
			</li>
		  </ul>
		</span>
	</div>
</div>

<div id="all_questions">
{% if questions_pinned|length > 0 %}
<h4 class="dark">Pinned questions</h4>
{% endif %}
<ul>
	{% for q in questions_pinned %}
	<script>


	$(document).ready(function() {

		// some constants
		var tag = 96;
		var none = 96; 

		//DROP DOWN ANSWER
		var req; // global variable for the ajax request
		//expand
		if ('{{q.answer}}') {
			$(document).on('mouseenter', '#answers{{q.id}}', function(event) {

				event.preventDefault();
				var height = $('#answers{{q.id}}').height(); 
				//extend div to fit answer
				$(this).finish().animate({
		        height: ($(this).height()+75).toString()+'px'
		    	}, 300);

				//make the ajax request
		    	req = $.ajax({
					url : "{% url 'quailapp:answer' q.id %}",
					type : "get",
					data : {ans: $(this).attr("id_your_answer") },
					//async: true,
					success: function (data) {
						if (data) {
							final_ans = "Answer: " + data;
				    		// replace answer
							$("#hide_ans{{q.id}}").html(final_ans);
							$("#hide_ans{{q.id}}").show(data);
						}
					}
				});
				
		    });
		    // hide the answer and shrink the div
			$(document).on('mouseleave', '#answers{{q.id}}', function(event) {
				// if the ajax request hasn't been completed yet, abort
				if(req && req.readyState != 4) {
	        		req.abort();
	        	}
				$("#hide_ans{{q.id}}").hide();
				// if no tags
			
		    	// if just a tag
		    	if (("{{q.tags}}" != "")) {
		    		$(this).animate({
		        		height: tag.toString()+'px'
		    		}, 300);
		    	}
		    	
		    	else {
		    		$(this).animate({
		        		height: none.toString()+'px'
		    		}, 300);
		    	}
		    	
			});
		}
		// FOR AJAX STARRING/UNSTARRING
		$(document).on('click', '[name=star{{q.id}}]', function(event) {
			event.preventDefault();
			$.ajax({
				type: 'post',
				url: "{% url 'quailapp:star' q.id %}",
				data : {star : $(this).attr("value") },
				success: function (data) {
					//$('#numstars{{q.id}}').html(data);
					$('#starring{{q.id}}').load("/{{course.id}}/coursepage_archive/" + " #starring{{q.id}}");
				}
			});
		});

		//  FOR AJAX UNPINNING
		$(document).on('click', '[name=pin{{q.id}}]', function(event) {
			event.preventDefault();
			$.ajax({
				type: 'post', 
				url: "{% url 'quailapp:pin' q.id %}",
				data: {'pin': $(this).attr('value')},
				success: function(data) {
					reload_pages();

				}
			});
		});

		
	    // This function gets cookie with a given name
	    function getCookie(name) {
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	            var cookies = document.cookie.split(';');
	            for (var i = 0; i < cookies.length; i++) {
	                var cookie = jQuery.trim(cookies[i]);
	                // Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	        }
	        return cookieValue;
	    }
	    var csrftoken = getCookie('csrftoken');

	    /*
	    The functions below will create a header with csrftoken
	    */

	    function csrfSafeMethod(method) {
	        // these HTTP methods do not require CSRF protection
	        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    }
	    function sameOrigin(url) {
	        // test that a given url is a same-origin URL
	        // url could be relative or scheme relative or absolute
	        var host = document.location.host; // host + port
	        var protocol = document.location.protocol;
	        var sr_origin = '//' + host;
	        var origin = protocol + sr_origin;
	        // Allow absolute or scheme relative URLs to same origin
	        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
	            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
	            // or any other URL that isn't scheme relative or absolute i.e relative.
	            !(/^(\/\/|http:|https:).*/.test(url));
	    }

	    $.ajaxSetup({
	        beforeSend: function(xhr, settings) {
	            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
	                // Send the token to same-origin, relative URLs only.
	                // Send the token only if the method warrants CSRF protection
	                // Using the CSRFToken value acquired earlier
	                xhr.setRequestHeader("X-CSRFToken", csrftoken);
	            }
	        }
	    });
	});
	</script>
	<li>
		{% if q.submitter.netid == user.netid %}
		<div id='answers{{q.id}}' class="box-blue row">
		{% else %}
		<div id='answers{{q.id}}' class="box row">
		{% endif %}
			<a href="{% url 'quailapp:detail' q.id %}" class="question-box">
				<div class="col-xs-1">
					<form method="POST">
						{% csrf_token %}
						{% buttons %}
						<div class="btn-group-vertical btn-group-sm" role="group" id="voting{{q.id}}">
							<button type="submit" class="btn btn-link disabled" name="vote{{q.id}}" id="upvote" value="1" {% if q.submitter.netid == user.netid %}disabled{% endif %}>
								{% bootstrap_icon "chevron-up" %}
							</button>
							<div class="centered" id="numvotes{{q.id}}">{{ q.votes }}</div>
							<button type="submit" class="btn btn-link btn-link-red disabled" name="vote{{q.id}}" id="downvote" value="-1" {% if q.submitter.netid == user.netid %}disabled{% endif %}>
								{% bootstrap_icon "chevron-down" %}
							</button>
						</div>
						{% endbuttons %}
					</form>
				</div>
				<div class="col-xs-10">
					<p class="question">
						{{ q.text }}<br>
						<span class="unemph">{{ q.created_on }}
						{% if not user.is_student %}
							by {{ q.submitter.first_name }} {{ q.submitter.last_name }}
						{% endif %}
						</span>
					</p>
					<div id="hide_ans{{q.id}}" class="dropdown_answer">
					</div>
					{% if q.tags_as_list %}
					{% for tag in q.tags_as_list %}
						<span class="box-small">{{ tag }}</span>
					{% endfor %}
					<script>
						var tag_id = "";
					</script>

					<script>
					// ajax for tags
					$(document).ready(function() {

						// filter by tag
						$(document).on('click','#id_tag{{tag.id}}', function(event) {
							tag_id = "{{tag.id}}";
							$('#all_questions').load("/{{course.id}}/courepage_archive/?tag=" + tag_id + " #all_questions");
						
						});

						// delete tag 
						$(document).on('click', '#delete_tag{{tag.id}}', function(event) {
							$.ajax({
								type: 'post',
								url: "{% url 'quailapp:delete_tag_from_coursepage' tag.id %}",
								success: function(data) {
									if (tag_id == "") {
										$('#display_tags').load("/{{course.id}}/courepage_archive/" + " #display_tags");
										$('#post_question').load("/{{course.id}}/courepage_archive/" + " #post_question");
									}
									else {
										$('#display_tags').load("/{{course.id}}/courepage_archive/?tag="+tag_id + " #display_tags");
										$('#post_question').load("/{{couse.id}}/courepage_archive/?tag=" + tag_id + " #post_question");
									}
									reload_pages();
								}

							});
						});
						// This function gets cookie with a given name
					    function getCookie(name) {
					        var cookieValue = null;
					        if (document.cookie && document.cookie != '') {
					            var cookies = document.cookie.split(';');
					            for (var i = 0; i < cookies.length; i++) {
					                var cookie = jQuery.trim(cookies[i]);
					                // Does this cookie string begin with the name we want?
					                if (cookie.substring(0, name.length + 1) == (name + '=')) {
					                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					                    break;
					                }
					            }
					        }
					        return cookieValue;
					    }
					    var csrftoken = getCookie('csrftoken');

					    /*
					    The functions below will create a header with csrftoken
					    */

					    function csrfSafeMethod(method) {
					        // these HTTP methods do not require CSRF protection
					        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
					    }
					    function sameOrigin(url) {
					        // test that a given url is a same-origin URL
					        // url could be relative or scheme relative or absolute
					        var host = document.location.host; // host + port
					        var protocol = document.location.protocol;
					        var sr_origin = '//' + host;
					        var origin = protocol + sr_origin;
					        // Allow absolute or scheme relative URLs to same origin
					        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
					            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
					            // or any other URL that isn't scheme relative or absolute i.e relative.
					            !(/^(\/\/|http:|https:).*/.test(url));
					    }

					    $.ajaxSetup({
					        beforeSend: function(xhr, settings) {
					            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
					                // Send the token to same-origin, relative URLs only.
					                // Send the token only if the method warrants CSRF protection
					                // Using the CSRFToken value acquired earlier
					                xhr.setRequestHeader("X-CSRFToken", csrftoken);
					            }
					        }
					    });
						
					})
					</script>

					{% endif %}
				</div>
				<div class="col-xs-1">
					<form method="POST">
						{% csrf_token %}
						<div id="starring{{q.id}}" class="right">
							{% if user.netid in q.users_starred %}
							<button type="submit" class="btn btn-link btn-link-yellow no-pad" value="-1" name="star{{q.id}}">
								{% bootstrap_icon "star" %}
							</button>
							{% else %}
							<button type="submit" class="btn btn-link btn-link-yellow no-pad" value="1" name="star{{q.id}}">
								{% bootstrap_icon "star-empty" %}
							</button>
							{% endif %}
							<span id="numstars{{q.id}}">{{ q.stars }}</span>
						</div>
					</form>
					{% if q.submitter.netid == user.netid or not user.is_student %}
					<form action="{% url 'quailapp:delete_from_coursepage' q.id %}" method="POST">
						{% csrf_token %}
							<button type="submit" class="btn btn-link btn-link-red right">
								{% bootstrap_icon "remove" %}
							</button>
					</form>
					{% endif %}
					{% if not user.is_student %}
						{% if q.is_pinned %}
							
							<button class="btn btn-link right" type="submit" name="pin{{q.id}}" id="unpin" value="0">
								<img onmouseover="this.src='{% static "quailapp/unpin-active.png" %}'"
								onmouseout="this.src='{% static "quailapp/unpin.png" %}'"
								src="{% static "quailapp/unpin.png" %}" alt="Pin">
							</button>
						{% else %}
						
							<button class="btn btn-link right" type="submit" name="pin{{q.id}}" id="pin" value="1">
								<img onmouseover="this.src='{% static "quailapp/pin-active.png" %}'"
								onmouseout="this.src='{% static "quailapp/pin.png" %}'"
								src="{% static "quailapp/pin.png" %}" alt="Pin">
							</button>
						{% endif %}
					{% endif %}
				</div>
			</a>
		</div>
	</li>
	{% endfor %}
</ul>

<br>
<h4 class="dark">Submitted questions</h4>
{% if questions|length == 0 %}
No Questions Found
<br>
{% endif %}
<ul>
	{{ sortby_form }}
	{% for q in questions %}
	<script>
	$(document).ready(function() {

		// some constants
		var tag = 96;
		var none = 96; 

		//DROP DOWN ANSWER
		var req; // global variable for the ajax request
		//expand
		$(document).on('mouseenter', '#answers{{q.id}}', function(event) {

			event.preventDefault();
			var height = $('#answers{{q.id}}').height(); 
			//extend div to fit answer
			$(this).finish().animate({
	        height: ($(this).height()+75).toString()+'px'
	    	}, 300);

			//make the ajax request
	    	req = $.ajax({
				url : "{% url 'quailapp:answer' q.id %}",
				type : "get",
				data : {ans: $(this).attr("id_your_answer") },
				async: true,
				success: function (data) {
					if (data) {
						final_ans = "Answer: " + data;
			    		// replace answer
						$("#hide_ans{{q.id}}").html(final_ans);
						$("#hide_ans{{q.id}}").show(data);
					}
				}
			});
			
	    });
	    // hide the answer and shrink the div
		$(document).on('mouseleave', '#answers{{q.id}}', function(event) {
			// if the ajax request hasn't been completed yet, abort
			if(req && req.readyState != 4) {
        		req.abort();
        	}
			$("#hide_ans{{q.id}}").hide();
			// if no tags
		
		
	    	// if just a tag
	    	if (("{{q.tags}}" != "")) {
	    		$(this).animate({
	        		height: tag.toString()+'px'
	    		}, 300);
	    	}
	    	
	    	else {
	    		$(this).animate({
	        		height: none.toString()+'px'
	    		}, 300);
	    	}
	    	
		});
		//  FOR AJAX UNPINNING
		$(document).on('click', '[name=pin{{q.id}}]', function(event) {
			event.preventDefault();
			$.ajax({
				type: 'post', 
				url: "{% url 'quailapp:pin' q.id %}",
				data: {'pin': $(this).attr('value')},
				success: function(data) {
					reload_pages();
				}
			});
		});

		// FOR AJAX STARRING/UNSTARRING
		$(document).on('click', '[name=star{{q.id}}]', function(event) {
			event.preventDefault();
			$.ajax({
				type: 'post',
				url: "{% url 'quailapp:star' q.id %}",
				data : {star : $(this).attr("value") },
				success: function (data) {
					//$('#numstars{{q.id}}').html(data);
					$('#starring{{q.id}}').load("/{{course.id}}/coursepage_archive/" + " #starring{{q.id}}");
				}
			})
		})

	    // This function gets cookie with a given name
	    function getCookie(name) {
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	            var cookies = document.cookie.split(';');
	            for (var i = 0; i < cookies.length; i++) {
	                var cookie = jQuery.trim(cookies[i]);
	                // Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	        }
	        return cookieValue;
	    }
	    var csrftoken = getCookie('csrftoken');

	    /*
	    The functions below will create a header with csrftoken
	    */

	    function csrfSafeMethod(method) {
	        // these HTTP methods do not require CSRF protection
	        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    }
	    function sameOrigin(url) {
	        // test that a given url is a same-origin URL
	        // url could be relative or scheme relative or absolute
	        var host = document.location.host; // host + port
	        var protocol = document.location.protocol;
	        var sr_origin = '//' + host;
	        var origin = protocol + sr_origin;
	        // Allow absolute or scheme relative URLs to same origin
	        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
	            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
	            // or any other URL that isn't scheme relative or absolute i.e relative.
	            !(/^(\/\/|http:|https:).*/.test(url));
	    }

	    $.ajaxSetup({
	        beforeSend: function(xhr, settings) {
	            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
	                // Send the token to same-origin, relative URLs only.
	                // Send the token only if the method warrants CSRF protection
	                // Using the CSRFToken value acquired earlier
	                xhr.setRequestHeader("X-CSRFToken", csrftoken);
	            }
	        }
	    });
	});
	</script>
	<li>
		{% if q.submitter.netid == user.netid %}
		<div id='answers{{q.id}}' class="box-blue row">
		{% else %}
		<div id='answers{{q.id}}' class="box row">
		{% endif %}
			<a href="{% url 'quailapp:detail' q.id %}" class="question-box">	
				<div class="col-xs-1">
					<form method="POST">
						{% csrf_token %}
						{% buttons %}
						<div class="btn-group-vertical btn-group-sm" role="group" id="voting{{q.id}}">
							<button type="submit" class="btn btn-link disabled" name="vote{{q.id}}" id="upvote" value="1" {% if q.submitter.netid == user.netid %}disabled{% endif %}>
								{% bootstrap_icon "chevron-up" %}
							</button>
							<div class="centered" id="numvotes{{q.id}}">{{ q.votes }}</div>
							<button type="submit" class="btn btn-link btn-link-red disabled" name="vote{{q.id}}" id="downvote" value="-1" {% if q.submitter.netid == user.netid %}disabled{% endif %}>
								{% bootstrap_icon "chevron-down" %}
							</button>
						</div>
						{% endbuttons %}
					</form>
				</div>
				<div class="col-xs-10">
					<p class="question">
						{{ q.text }}<br>
						<span class="unemph">{{ q.created_on }}
						{% if not user.is_student %}
							by {{ q.submitter.first_name }} {{ q.submitter.last_name }}
						{% endif %}
						</span>
					</p>
					<div id="hide_ans{{q.id}}" class="dropdown_answer">
					</div>
					{% if q.tags_as_list %}
					{% for tag in q.tags_as_list %}
						<span class="box-small">{{ tag }}</span>
					{% endfor %}
					{% endif %}
				</div>
				<div class="col-xs-1">
					<form method="POST">
						{% csrf_token %}
						<div id="starring{{q.id}}" class="right">
							{% if user.netid in q.users_starred %}
							<button type="submit" class="btn btn-link btn-link-yellow no-pad" value="-1" name="star{{q.id}}">
								{% bootstrap_icon "star" %}
							</button>
							{% else %}
							<button type="submit" class="btn btn-link btn-link-yellow no-pad" value="1" name="star{{q.id}}">
								{% bootstrap_icon "star-empty" %}
							</button>
							{% endif %}
							<span id="numstars{{q.id}}">{{ q.stars }}</span>
						</div>
					</form>
					{% if q.submitter.netid == user.netid or not user.is_student %}
					<form action="{% url 'quailapp:delete_from_coursepage' q.id %}" method="POST">
						{% csrf_token %}
							<button type="submit" class="btn btn-link btn-link-red right">
								{% bootstrap_icon "remove" %}
							</button>
					</form>
					{% endif %}
					{% if not user.is_student %}
						{% if q.is_pinned %}
							
							<button class="btn btn-link right" type="submit" name="pin{{q.id}}" id="unpin" value="0">
								<img onmouseover="this.src='{% static "quailapp/unpin-active.png" %}'"
								onmouseout="this.src='{% static "quailapp/unpin.png" %}'"
								src="{% static "quailapp/unpin.png" %}" alt="Pin">
							</button>
						{% else %}
						
							<button class="btn btn-link right" type="submit" name="pin{{q.id}}" id="pin" value="1">
								<img onmouseover="this.src='{% static "quailapp/pin-active.png" %}'"
								onmouseout="this.src='{% static "quailapp/pin.png" %}'"
								src="{% static "quailapp/pin.png" %}" alt="Pin">
							</button>
						{% endif %}
					{% endif %}
				</div>
			</a>
		</div>
	</li>
	{% endfor %}
</ul>

<div class="pagination dark">
    <span class="step-links">
    	{% if questions.has_previous %}
    		<a class="btn btn-link btn-link-gray" href="?page={{ questions.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
	    		{% bootstrap_icon "chevron-left" %}
			</a>
		{% else %}
		    <a class="btn btn-link btn-link-gray disabled">
	    		{% bootstrap_icon "chevron-left" %}
			</a>
        {% endif %}

        <span class="current">
            Page {{ questions.number }} of {{ questions.paginator.num_pages }}
        </span>

        {% if questions.has_next %}
    		<a class="btn btn-link btn-link-gray" href="?page={{ questions.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
	    		{% bootstrap_icon "chevron-right" %}
			</a>
		{% else %}
		    <a class="btn btn-link btn-link-gray disabled">
	    		{% bootstrap_icon "chevron-right" %}
			</a>
        {% endif %}
    </span>
</div>
</div>


 <script>
// simple script to reload page every 5 seconds, as long as a question isn't being edited or a question isn't being posted 
function reload_pages() {

	//console.log(editing);

	if (search_query == "" && tag_id == "") {
		$('#all_questions').load("/{{course.id}}/coursepage_archive/" + " #all_questions");
	}
	else if (search_query == "")
	{
		$('#all_questions').load("/{{course.id}}/coursepage_archive/?tag=" + tag_id + " #all_questions");
	}
	else {
		$('#all_questions').load("/{{course.id}}/coursepage_archive/?q=" + search_query + " #all_questions");
	}	
}
</script>


{% endblock %}