{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<a href="{% url 'quailapp:coursepage' question.course.id %}">Go back to {{question.course}}</a>

<h2>Question: {{ question.text }}</h2>

{% if question.answer %}
	<h3>Answer:</h3>
	{% if question.answer.submitter == user %}
	<div class="box-static-blue row">
	{% else %}
	<div class="box-static-gray row">
	{% endif %}
		<div class="col-xs-11">
			<h4>{{ question.answer }}</h4>
			<span class="unemph">Submitted on: {{ question.answer.created_on }}
			{% if not user.is_student %}by {{ question.answer.submitter.first_name }} {{ question.answer.submitter.last_name }} {% endif %}
			</span>
		</div>
		<div class="col-xs-1">
			{% if question.answer.submitter == user %}
				<form action="{% url 'quailapp:deleteans' question.answer.id %}" method="POST">
					{% csrf_token %}
						<button type="submit" class="btn btn-link btn-link-red right">
							{% bootstrap_icon "remove" %}
						</button>
				</form>
			{% endif %}
		</div>
	</div>


{% else %}
{% if not user.is_student %}
<form action="{% url 'quailapp:detail' question.id %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <input id="id_your_answer" name="your_answer" type="text" class="form-control" placeholder="Your answer">
      <span class="input-group-btn">
		{% buttons %}
        	<button class="btn btn-secondary" type="submit" value="Unregister" onclick="this.disabled=true,this.form.submit();">Submit</button>
		{% endbuttons %}
      </span>
    </div>
</form>
<h3>Looks like there are no answers... submit an answer!</h3>
{% else %}
<br>
<h4>Looks like there are no answers... but you're not a lecturer... so you can't answer hahahaha</h4>
{% endif %}
{% endif %}

<div class="bold">Comments:</div>
<ul>
{% for comment in question.comment_set.all %}
	{% if comment.submitter == user %}
	<div class="box-static-blue">
	{% else %}
	<div class="box-static-gray">
	{% endif %}
		<li>
			{{ comment }}
			<br>
		<span class="unemph">Submitted on: {{ comment.created_on }}
			{% if not user.is_student %}by {{ comment.submitter.first_name }} {{ comment.submitter.last_name }} {% endif %}
			</span>
		</li>
	</div>
	
{% endfor %}
</ul>

<br>
<form action="{% url 'quailapp:detail' question.id %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <input id="id_your_comment" name="your_comment" type="text" class="form-control" placeholder="Comment here">
      <span class="input-group-btn">
		{% buttons %}
        	<button class="btn btn-secondary" type="submit" value="Unregister" onclick="this.disabled=true,this.form.submit();">Submit</button>
		{% endbuttons %}
      </span>
    </div>
</form>

{% endblock %}