{% extends "base.html" %}
{% load bootstrap3 %}

{% block classes %}
{% for course in courses %}
<li>
	<a href="{% url 'quailapp:coursepage_live' course.id %}">{{ course }}</a>
</li>
{% endfor %}
{% endblock %}

{% block content %}
{% if question.is_live %}
<a href="{% url 'quailapp:coursepage_live' question.course.id %}">Go back to {{question.course}}</a>
{% else %}
<a href="{% url 'quailapp:coursepage_archive' question.course.id %}">Go back to {{question.course}}</a>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
	var q_text = "{{question.text}}";
	// hide the edit button if you didn't submit the question
	var submitter = "{{question.submitter.netid}}";
	var user = "{{user.netid}}";
	if (submitter == user) {
		$('#edit_question{{question.id}}').show();
	}
	else {
		$('#edit_question').hide(); 
	}
	$('#submit_edit_button{{question.id}}').hide();

	// click edit button
	$(document).on('click', '#edit_question{{question.id}}', function(event) {
		event.preventDefault();
		console.log("CLICK");
		$("#question{{question.id}}").html('<input id="submit_edit{{question.id}}" type="text" class="form-control" value="">');
		$("#submit_edit{{question.id}}").attr("value", q_text);
		// disable link temporarily while user edits
		$('#detail{{question.id}}').click(function(event) {
			event.preventDefault();
		})
		$('#edit_question{{question.id}}').hide();
		$('#submit_edit_button{{question.id}}').show();
	})

	// click submit button
	$(document).on('click', '#submit_edit_button{{question.id}}', function(event) {
		event.preventDefault();
		$.ajax({
			type: 'post',
			url: "{% url 'quailapp:edit_question' question.id %}",
			data: {text: $("#submit_edit{{question.id}}").val() },
			success: function(data) {
				$('#submit_edit_button{{question.id}}').hide();
				$('#edit_question{{question.id}}').show();
				$("#question{{question.id}}").html(data);
				q_text = data;
			}
		})
	})

	// FOR AJAX UPVOTING/DOWNVOTING 
	$(document).on('click', '[name=vote{{question.id}}]', function(event) {
		event.preventDefault();
		$.ajax({
			type: 'post',
			url: "{% url 'quailapp:vote' question.id %}",
			data : {vote : $(this).attr("value") },
			success: function (data) {
				//$('#numvotes{{question.id}}').html(data);
				$('#voting{{question.id}}').load("/{{course.id}}/coursepage_live/" + " #voting{{question.id}}");
			}
		})
	})
    // This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
});
</script>

<h2>Question:</h2>
{% if question.submitter.netid == user.netid %}
<div class="box-static-blue row">
{% else %}
<div class="box-static-gray row">
{% endif %}
	<div class="col-xs-1">
		<form method="POST">
			{% csrf_token %}
			{% buttons %}
			<div class="btn-group-vertical btn-group-sm" role="group" id="voting{{question.id}}">
				<button type="submit" class="btn btn-link{% if question.submitter.netid == user.netid %} disabled{% elif user.netid in question.users_upvoted %} disabled{% endif %}" name="vote{{question.id}}" id="upvote" value="1" {% if question.submitter.netid == user.netid %}disabled{% endif %}>
					{% bootstrap_icon "chevron-up" %}
				</button>
				<div class="centered" id="numvotes{{question.id}}">{{ question.votes }}</div>
				<button type="submit" class="btn btn-link btn-link-red{% if question.submitter.netid == user.netid %} disabled{% elif user.netid in question.users_downvoted %} disabled{% endif %}" name="vote{{question.id}}" id="downvote" value="-1" {% if question.submitter.netid == user.netid %}disabled{% endif %}>
					{% bootstrap_icon "chevron-down" %}
				</button>
			</div>
			{% endbuttons %}
		</form>
	</div>
	<div class="col-xs-10">
		<p class="question">
			<span class="input-group">
		      	<span id="question{{question.id}}">{{ question.text }}</span>
		      	<span class="input-group-btn">
					<button id="submit_edit_button{{question.id}}" type="submit" class="btn btn-secondary btn-sm">Submit</button>
		      </span>
		    </span>
			<span class="unemph">{{ question.created_on }}
			{% if not user.is_student %}
				by {{ question.submitter.first_name }} {{ question.submitter.last_name }}
			{% endif %}
			</span>
			<br>
			<button id="edit_question{{question.id}}" type="submit" class="btn btn-link btn-sm no-pad" >Edit</button>
		</p>
	</div>
	<div class="col-xs-1">
		{% if question.submitter.netid == user.netid or not user.is_student %}
		<form action="{% url 'quailapp:delete_from_coursepage' question.id %}" method="POST">
			{% csrf_token %}
				<button type="submit" class="btn btn-link btn-link-red right">
					{% bootstrap_icon "remove" %}
				</button>
		</form>
		{% endif %}
	</div>
</div>

{% if question.answer %}
	<h3>Answer:</h3>
	{% if question.answer.submitter == user %}
	<div class="box-static-blue row">
	{% else %}
	<div class="box-static-gray row">
	{% endif %}
		<div class="col-xs-11">
			<div id="answer"><h4>{{ question.answer }}</h4></div>
			<button id="submit_edit" type="submit" class="btn btn-secondary btn-sm" >Submit</button>
			<span class="unemph">Submitted on: {{ question.answer.created_on }}
			{% if not user.is_student %}by {{ question.answer.submitter.first_name }} {{ question.answer.submitter.last_name }} {% endif %}
			</span>
			{% if question.answer.submitter == user %}
				<button id="edit_answer" type="submit" class="btn btn-link btn-sm no-pad" >Edit</button>
			{% endif %}
		</div>
		<div class="col-xs-1">
			{% if question.answer.submitter == user %}
				<form action="{% url 'quailapp:deleteans' question.answer.id %}" method="POST">
					{% csrf_token %}
						<button type="submit" class="btn btn-link btn-link-red right">
							{% bootstrap_icon "remove" %}
						</button>
				</form>
			{% endif %}
		</div>
	</div>


{% else %}
{% if not user.is_student %}
<form action="{% url 'quailapp:detail' question.id %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <input id="id_your_answer" name="your_answer" type="text" class="form-control" placeholder="Your answer">
      <span class="input-group-btn">
		{% buttons %}
        	<button class="btn btn-secondary" type="submit" value="Unregister" onclick="this.disabled=true,this.form.submit();">Submit</button>
		{% endbuttons %}
      </span>
    </div>
</form>
<h3>Looks like there are no answers... submit an answer!</h3>
{% else %}
<br>
<h4>Looks like there are no answers... but you're not a lecturer... so you can't answer hahahaha</h4>
{% endif %}
{% endif %}

<div class="bold">Comments:</div>
<ul>
{% for comment in question.comment_set.all %}
	{% if comment.submitter == user %}
	<div class="box-static-blue">
	{% else %}
	<div class="box-static-gray">
	{% endif %}
		<li>
			{{ comment }}
			<br>
		<span class="unemph">Submitted on: {{ comment.created_on }}
			{% if not user.is_student %}by {{ comment.submitter.first_name }} {{ comment.submitter.last_name }} {% endif %}
			</span>
		</li>
	</div>
	
{% endfor %}
</ul>

<br>
<form action="{% url 'quailapp:detail' question.id %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <input id="id_your_comment" name="your_comment" type="text" class="form-control" placeholder="Comment here">
      <span class="input-group-btn">
		{% buttons %}
        	<button class="btn btn-secondary" type="submit" value="Unregister" onclick="this.disabled=true,this.form.submit();">Submit</button>
		{% endbuttons %}
      </span>
    </div>
</form>


<script>
$(document).ready(function() {
	var answer = "{{question.answer}}";
	$('#submit_edit').hide(); 
	$(document).on('click', '#edit_answer', function(event) {
		event.preventDefault();
		$('#answer').html('<input id="edited" type="text" class="form-control" value="">');
		$('#answer').attr("value", answer);
		$('#edit_answer').hide();
		$('#submit_edit').show(); 
	})
	$(document).on('click', '#submit_edit', function(event) {
		event.preventDefault();
		$.ajax({
			type: 'post',
			url: "{% url 'quailapp:edit_answer' question.id %}",
			data: {text : $('#edited').val() },
			success: function(data) {
				$('#submit_edit').hide();
				$('#edit_answer').show();
				$('#answer').html(data); 
				console.log(data);
			}
		})
	})
	// This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
})
</script>
{% endblock %}