{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
{% if question.is_live %}
<a href="{% url 'quailapp:coursepage_live' question.course.id %}">Go back to {{question.course}}</a>
{% else %}
<a href="{% url 'quailapp:coursepage_archive' question.course.id %}">Go back to {{question.course}}</a>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<h2>Question: {{ question.text }}</h2>

{% if question.answer %}
	<h3>Answer:</h3>
	{% if question.answer.submitter == user %}
	<div class="box-static-blue row">
	
	{% else %}
	<div class="box-static-gray row">
	{% endif %}
		<div class="col-xs-11">
			<div id="answer"><h4>{{ question.answer }}</h4></div>
			<button id="submit_edit" type="submit" class="btn btn-secondary btn-sm" >Submit</button>
			<span class="unemph">Submitted on: {{ question.answer.created_on }}
			{% if not user.is_student %}by {{ question.answer.submitter.first_name }} {{ question.answer.submitter.last_name }} {% endif %}
			</span>
			{% if question.answer.submitter == user %}
				<button id="edit_answer" type="submit" class="btn btn-link btn-sm no-pad" >Edit</button>
			{% endif %}
		</div>
		<div class="col-xs-1">
			{% if question.answer.submitter == user %}
				<form action="{% url 'quailapp:deleteans' question.answer.id %}" method="POST">
					{% csrf_token %}
						<button type="submit" class="btn btn-link btn-link-red right">
							{% bootstrap_icon "remove" %}
						</button>
				</form>
			{% endif %}
		</div>
	</div>


{% else %}
{% if not user.is_student %}
<form action="{% url 'quailapp:detail' question.id %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <input id="id_your_answer" name="your_answer" type="text" class="form-control" placeholder="Your answer">
      <span class="input-group-btn">
		{% buttons %}
        	<button class="btn btn-secondary" type="submit" value="Unregister" onclick="this.disabled=true,this.form.submit();">Submit</button>
		{% endbuttons %}
      </span>
    </div>
</form>
<h3>Looks like there are no answers... submit an answer!</h3>
{% else %}
<br>
<h4>Looks like there are no answers... but you're not a lecturer... so you can't answer hahahaha</h4>
{% endif %}
{% endif %}

<div class="bold">Comments:</div>
<ul>
{% for comment in question.comment_set.all %}
	{% if comment.submitter == user %}
	<div class="box-static-blue">
	{% else %}
	<div class="box-static-gray">
	{% endif %}
		<li>
			{{ comment }}
			<br>
		<span class="unemph">Submitted on: {{ comment.created_on }}
			{% if not user.is_student %}by {{ comment.submitter.first_name }} {{ comment.submitter.last_name }} {% endif %}
			</span>
		</li>
	</div>
	
{% endfor %}
</ul>

<br>
<form action="{% url 'quailapp:detail' question.id %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <input id="id_your_comment" name="your_comment" type="text" class="form-control" placeholder="Comment here">
      <span class="input-group-btn">
		{% buttons %}
        	<button class="btn btn-secondary" type="submit" value="Unregister" onclick="this.disabled=true,this.form.submit();">Submit</button>
		{% endbuttons %}
      </span>
    </div>
</form>


<script>
$(document).ready(function() {
	var answer = "{{question.answer}}";
	$('#submit_edit').hide(); 
	$(document).on('click', '#edit_answer', function(event) {
		event.preventDefault();
		$('#answer').html('<input id="edited" type="text" class="form-control" value="">');
		$('#answer').attr("value", answer);
		$('#edit_answer').hide();
		$('#submit_edit').show(); 
	})
	$(document).on('click', '#submit_edit', function(event) {
		event.preventDefault();
		$.ajax({
			type: 'post',
			url: "{% url 'quailapp:edit_answer' question.id %}",
			data: {text : $('#edited').val() },
			success: function(data) {
				$('#submit_edit').hide();
				$('#edit_answer').show();
				$('#answer').html(data); 
				console.log(data);
			}
		})
	})
	// This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
})
</script>
{% endblock %}