{% extends "base.html" %}
{% load bootstrap3 %}

{% block classes %}
{% for course in courses_enrolled %}
<li>
	<a href="{% url 'quailapp:coursepage_live' course.id %}">{{ course }}</a>
</li>
{% endfor %}
{% endblock %}

{% block social %}
{% for category in categories %}
<li>
	<a href="{% url 'quailapp:social_category' category.id %}">{{ category }}</a>
</li>
{% endfor %}
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<h2>Enroll in courses</h2>
<div class="row">
	<div class="col-xs-6">
		<span class="bold">Enrolled</span>
		<ul>
		{% for course in courses_enrolled %}
			<li>
				<div class="box">
					<a href="{% url 'quailapp:coursepage_live' course.id %}"> {{ course }} </a>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="col-xs-6">
		<span class="bold">Add</span>
		<div class="input-group">
			<input type="text" name="q" id="id_q" class="form-control" placeholder="COS 333" value="{{ query_string }}">
		</div>

		<form action="/enroll" method="post">
			{% csrf_token %}
			<div class="scrollbox" id="available_classes">
				{% bootstrap_form form %}
			</div>
			{% buttons %}
			    <button class="btn btn-primary right" type="submit" value="Unregister" onclick="this.disabled=true,this.form.submit();">Submit</button>
			{% endbuttons %}
		</form>
	</div>
</div>

<script> 
$(document).ready(function() {
	$('#id_q').keyup(function() {
		//console.log($('#id_q').val());
		$.ajax({
			url : "/enroll",
			type : "get",
			data : {q: $('#id_q').val() },
			success: function (data) {
				$('#available_classes').html(data);
				//console.log(data);
			}
		})

	});

});
</script>
{% endblock %}