{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<h2>Enroll in courses</h2>

<form method="get" action="/enroll">
	<label for="id_q">Search:</label>
	<input type="text" name="q" id="id_q"/>
	<input type="submit" value="Submit"/>
</form>

<form action="/enroll" method="post">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
	    	<button class="btn btn-primary" type="submit" value="Submit">Submit</button>
	{% endbuttons %}
</form>

<span class="bold">Courses enrolled:</span>
<ul>
{% for course in courses_enrolled %}
	<li>
		<div class="box">
			<a href="{% url 'quailapp:coursepage' course.id %}"> {{ course }} </a>
		</div>
	</li>
{% endfor %}
</ul>

{% endblock %}