{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

<html lang="en">
<head>
	<title>quail</title>
	<link rel="icon" href="{% static "quailapp/logo-black.ico" %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static "quailapp/style.css" %}" />
    <link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="centered">
		<img class="xs" src="{% static "quailapp/logo-black-text.png" %}" alt="Quail" align="middle">
		<div class="unemph">Questions You Ask in Lecture.</div>
		<br>
		<a href="{% url 'quailapp:login'%}" class="btn btn-primary btn-lg home-button" role="button">
			Login with CAS
		</a><br><br>
		<a href="http://karenfeng.github.io/quail/">Learn</a> more about our project<br>
		<a href="https://github.com/karenfeng/quail/">Contribute</a> to our code
	</div>
</body>
</html>