{% extends "base.html" %}
{% load bootstrap3 %}

{% block classes %}
{% for course in courses %}
<li>
	<a href="{% url 'quailapp:coursepage_live' course.id %}">{{ course }}</a>
</li>
{% endfor %}
{% endblock %}

{% block content %}

<h1 class="centered">Welcome, {{ user.first_name }}</h1>

<div class="row">
	<div class="col-xs-4">
		<div class="box-static-dark">
			<h5 class="centered">
				<a href="{% url 'quailapp:userinfo' %}">
					User info
				</a>
			</h5>
		</div>
		<div class="box-static">
			<span>{{ user.netid }}: {{ user.first_name }} {{ user.last_name }}</span><br>
			<span>Enrolled in {{ courses|length }} courses</span><br>
			<span>Asked {{ user.question_set.all|length }} questions<span><br>
			<span>Answered {{ user.answer_set.all|length }} questions<span><br>
			<span>Made {{ user.comment_set.all|length }} comments<span>
		</div>
		<br>
		<div class="box-static-dark">
				<h5 class="centered">Starred questions</h5>
			</a>
		</div>
		<div class="box-static">
			<ul>
			{% for q in starred_questions %}
				{% if q.is_social %}
				<li><a href="{% url 'quailapp:social_detail' q.id %}">{{ q.text }}</a></li>
				{% else %}
				<li><a href="{% url 'quailapp:detail' q.id %}">{{ q.text }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
		<br>

		{% if user.is_student %}
		<div class="box-static-dark">
			<h5 class="centered">
				Feedback
			</h5>
		</div>
		<div class="scrollbox box-static">
			{% for course in courses %}
				<a href="{% url 'quailapp:user_feedback' course.id %}">{{course}}</a>
				<br>
				{% if course.feedback_set.all|length == 0 %}
					None yet!<br>
				{% else %}
					{% for feedback in user.feedback_set.all %}
						{% if feedback.course == course %}
						<li>
							<div class="box-static-dark-padded">
								<span>{% if not feedback.text %}N/A{% else %}{{ feedback }}{% endif %}</span>
								<br>
								<span>Quality of lecture: {% if not feedback.feedback_choice %}N/A{%else %}{{ feedback.feedback_choice }}/5{% endif %}</span>
								<br>
								<span class="unemph">Lecture on {{ feedback.lecture_date }}
								</span>
							</div>
						</li>
						{% endif %}
					{% endfor %}
				{% endif %}
				<br>
			{% endfor %}
		</div>
		{% else %}
		<div class="box-static-dark">
			<h5 class="centered">
				Feedback <a href="{% url 'quailapp:archived_feedback' %}">(archived)</a>
			</h5>
		</div>
		<div class="scrollbox box-static">
			{% for course in courses %}
				<span class="italic">{{course}}</span>
				<br>
				{% if course.feedback_set.all|length == 0 %}
					None yet!<br>
				{% else %}
					{% for feedback in course.feedback_set.all %}
						{% if feedback.is_live %}
						<li>
							<div class="box-static-dark-padded">
							{% if not feedback.text %}N/A{% else %}{{ feedback }}{% endif %}
							<br>
							<span class="bold">Quality of lecture: {% if not feedback.feedback_choice %}N/A{%else %}{{ feedback.feedback_choice }}/5{% endif %}</span><br>
							<span class="unemph">Lecture on {{ feedback.lecture_date }}
							</span>
							<br>
							<small>
								<form action="{% url 'quailapp:index' %}" method="post">
								{% csrf_token %}
						  			<button type="submit" name="feedback" value="{{feedback.id}}" class="btn-link btn-link-gray">Archive</button>
								</form> 
							</small>
							</div>
						</li>
						{% endif %}
					{% endfor %}
				{% endif %}
				<br>
			{% endfor %}
		</div>

		{% endif %}

	</div>
	<div class="col-xs-8">
		{% for course in courses %}
			<div class="box-static-dark">
				<a href="{% url 'quailapp:coursepage_live' course.id %}">
					<h5>{{ course }}</h5>
				</a>
			</div>
			<div class="box-static">
				Professor: {{ course.professor }}<br>
				Class times:
				{{ course.days_as_string }}  {{ course.starttime}} - {{ course.endtime }}
				</a>
			</div>
			<br>
		{% endfor %}
	</div>
</div>

{% endblock %}
