{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<h2>Questions asked so far:</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h3><a href="{% url 'quailapp:get' %}">Post a Question!</a></h3>

<ul>
	{% for q in questions %}
	<li>
		<div class="box">
			<a href="{% url 'quailapp:detail' q.id %}">{{ q.text }}</a><br>
			Created on: {{ q.created_on }}<br>
			Votes: {{ q.votes }}

			<form action="{% url 'quailapp:vote' q.id %}" method="POST">
				{% csrf_token %}
				{% buttons %}
				<button type="submit" class="btn btn-primary" name="vote" id="upvote" value="1">
					{% bootstrap_icon "chevron-up" %}
				</button>
				<button type="submit" class="btn btn-primary" name="vote" id="downvote" value="-1">
					{% bootstrap_icon "chevron-down" %}
				</button>
				{% endbuttons %}
			</form>
		</div>
	</li>
	{% endfor %}
</ul>

{% endblock %}
