{% extends "base.html" %}
{% load bootstrap3 %}

{% block classes %}
{% for course in courses %}
<li>
	<a href="{% url 'quailapp:coursepage_live' course.id %}">{{ course }}</a>
</li>
{% endfor %}
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<h2>User information</h2>

<span class="bold">NetID:</span> {{ user.netid }}<br>
<span class="bold">Name:</span> <span id="full_name">{{ user.first_name }} {{ user.last_name }}</span>

<button id="edit_name" class="btn btn-link btn-sm">Edit</button>
<br>

<span class="bold">Role:</span>
{% if user.is_student %}
	Student
{% else %}
	Lecturer
{% endif %}
<script>
$(document).ready(function() {
	var first_name = "{{user.first_name}}";
	var last_name = "{{user.last_name}}";
	$(document).on('click', '#edit_name', function(event) {
		event.preventDefault();
		$('#full_name').html('<form class="form-inline"><input class="form-control" id="first_name" maxlength="100" name="first_name" type="text"><input class="form-control" id="last_name" maxlength="100" name="last_name" type="text"><button id="submit_edit" class="btn btn-secondary">Submit</button></form>');
		$("#first_name").attr("value", first_name);
		$("#last_name").attr("value", last_name);
		$('#edit_name').hide();
	})
	$(document).on('click', "#submit_edit", function(event) {
		console.log("name submitted");
		event.preventDefault();
		$.ajax({
			url : "/change_name",
			type : "post",
			data : {first_name : $("#first_name").val(), last_name : $("#last_name").val() },
			success: function(data) {
				console.log(data);
				$('#full_name').html(data);
				first_name = data.split(" ")[0];
				last_name = data.split(" ")[1];
			}
		})
		$('#edit_name').show();
	})
	// This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
});
</script>


<br>
<span class="bold">Courses:</span>
<div id="unenroll_courses">
	<ul>
	{% for course in courses %}

	<script>
	$(document).ready(function() {
		$(document).on('click', '#unenroll{{forloop.counter}}', function(event) {
			event.preventDefault();
			$.ajax({
				type: 'post',
				url: "{% url 'quailapp:userinfo' %}" , 
				data : {courseid : "{{course.id}}"},
				success: function(data) {
					$('#unenroll_courses').load("/userinfo" + " #unenroll_courses");
					console.log(data);
				}
			})
		})
		// This function gets cookie with a given name
	    function getCookie(name) {
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	            var cookies = document.cookie.split(';');
	            for (var i = 0; i < cookies.length; i++) {
	                var cookie = jQuery.trim(cookies[i]);
	                // Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	        }
	        return cookieValue;
	    }
	    var csrftoken = getCookie('csrftoken');

	    /*
	    The functions below will create a header with csrftoken
	    */

	    function csrfSafeMethod(method) {
	        // these HTTP methods do not require CSRF protection
	        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    }
	    function sameOrigin(url) {
	        // test that a given url is a same-origin URL
	        // url could be relative or scheme relative or absolute
	        var host = document.location.host; // host + port
	        var protocol = document.location.protocol;
	        var sr_origin = '//' + host;
	        var origin = protocol + sr_origin;
	        // Allow absolute or scheme relative URLs to same origin
	        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
	            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
	            // or any other URL that isn't scheme relative or absolute i.e relative.
	            !(/^(\/\/|http:|https:).*/.test(url));
	    }

	    $.ajaxSetup({
	        beforeSend: function(xhr, settings) {
	            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
	                // Send the token to same-origin, relative URLs only.
	                // Send the token only if the method warrants CSRF protection
	                // Using the CSRFToken value acquired earlier
	                xhr.setRequestHeader("X-CSRFToken", csrftoken);
	            }
	        }
	    });
	});
	</script>
		<li>
			<div class="box row">
				<div class="col-xs-1">
					<form method="POST">
						{% csrf_token %}
						<button class="btn btn-link btn-link-red" type="submit" name="courseid" id="unenroll{{ forloop.counter }}" value="{{ course.id }}">
							{% bootstrap_icon "remove" %}
						</button>
					</form>
				</div>
				<div class="col-xs-11">
					<a href="{% url 'quailapp:coursepage_live' course.id %}"> {{ course }} </a>
				</div>
			</div>
		</li>
	{% endfor %}
	</ul>
</div>
<h4><a href="{% url 'quailapp:enroll' %}">Enroll in more courses</a></h4>
<br>
<span class="bold">Your Questions:</span>
<ul>
{% for q in user.question_set.all %}
	<li>
		<div class="box row">
			<a href="{% url 'quailapp:detail' q.id %}" class="question-box">
				<div class="col-xs-1">
					{% buttons %}
					<div class="btn-group-vertical btn-group-sm" role="group">
						<button class="btn btn-link disabled" name="vote" id="upvote">
							{% bootstrap_icon "chevron-up" %}
						</button>
						<div class="centered votes">{{ q.votes }}</div>
						<button class="btn btn-link disabled" name="vote" id="downvote">
							{% bootstrap_icon "chevron-down" %}
						</button>
					</div>
					{% endbuttons %}
				</div>
				<div class="col-xs-10">
					<p class="question">
						{{ q.text }}<br>
						<span class="unemph">{{ q.created_on }}</span>
					</p>
				</div>
				<div class="col-xs-1">
					<form action="{% url 'quailapp:delete_from_userinfo' q.id %}" method="POST">
						{% csrf_token %}
							<button type="submit" class="btn btn-link btn-link-red right">
								{% bootstrap_icon "remove" %}
							</button>
					</form>
				</div>
			</a>
		</div>
	</li>
{% endfor %}
</ul>

{% endblock %}