{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

<html lang="en">
<head>
	<title>quail</title>
	<link rel="icon" href="{% static "quailapp/logo-black.ico" %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static "quailapp/style.css" %}" />
    <link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body>
	<script>
    $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
	</script>
	<div class="row">
  		<div class="col-sm-2">
    		<div class="sidebar-nav">
			<nav class="navbar navbar-inverse navbar-simple">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="{% url 'quailapp:home' %}">
							<p><img class="xs" src="{% static "quailapp/logo.png" %}"> quail</p>
						</a>
					</div>
					<br>
					<div class="navbar-collapse collapse sidebar-navbar-collapse">
						<ul class="nav navbar-nav">
							<li>
								<a href="{% url 'quailapp:index' %}">{% bootstrap_icon "home" %} Home</a>
							</li>
							<li>
								<a href="{% url 'quailapp:userinfo' %}">{% bootstrap_icon "user" %} User</a>
							</li>
							<li class="dropdown">
			  					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			  						{% bootstrap_icon "book" %} Classes
			  						<span class="caret"></span>
			  					</a>
			  					<ul class="dropdown-menu">
									{% block classes %}{% endblock %}
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			  						{% bootstrap_icon "comment" %} Social
			  						<span class="caret"></span>
			  					</a>
			  					<ul class="dropdown-menu">
			  						<li>
			  							<a href="{% url 'quailapp:social_home' %}"> All</a>
			  						</li>
									{% block social %}{% endblock %}
								</ul>
							</li>
							<li><a href="{% url 'quailapp:logout' %}">{% bootstrap_icon "lock" %} Logout</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div class="col-sm-10">
			<div id="content">
	        {% block content %}{% endblock %}
	    	</div>
    	</div>
	</div>
</body>
</html>