* {
  border-radius: 0 !important;
}

body {
  margin: 25px 25px;
}

nav {
  margin: -25px -25px;
}

ul {
   padding: 0px 0px 0px 0px;
}

li {
   list-style: none;
}

form {
   margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

p, span, div {
  font-family: 'Fira Sans', sans-serif;
}

img.max {
  max-width:100%;
  max-height:100%;
}

a {
  color: #007F7F;
}

a:focus, a:hover {
  color: #004c4c;
}

img.small {
  max-width: 45%;
  max-height: 45%;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto
}

h1.dark, h2.dark, h3.dark, h4.dark, h5.dark, h6.dark, span.dark, p.dark, div.dark {
  color: #F5F5F5;
}

body.dark {
  background-color: #313131;
}

.btn {
  border: 0 none;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary { 
  color: #FFFFFF; 
  background-color: #00CCCC; 
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary:hover:active,
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #FFFFFF; 
  background-color: #0ABAB5;
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none;
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #00CCCC;  
} 
 
.btn-primary .badge { 
  color: #00CCCC; 
  background-color: #FFFFFF; 
}

.btn-secondary { 
  color: #FFFFFF; 
  background-color: #607D8B; 
  border-color: #000000; 
} 
 
.btn-secondary:hover, 
.btn-secondary:focus, 
.btn-secondary:active, 
.btn-secondary:active:hover,
.btn-secondary.active, 
.open .dropdown-toggle.btn-secondary { 
  color: #FFFFFF; 
  background-color: #566f7c; 
  border-color: #000000; 
} 
 
.btn-secondary:active, 
.btn-secondary.active, 
.open .dropdown-toggle.btn-secondary { 
  background-image: none; 
} 
 
.btn-secondary.disabled, 
.btn-secondary[disabled], 
fieldset[disabled] .btn-secondary, 
.btn-secondary.disabled:hover, 
.btn-secondary[disabled]:hover, 
fieldset[disabled] .btn-secondary:hover, 
.btn-secondary.disabled:focus, 
.btn-secondary[disabled]:focus, 
fieldset[disabled] .btn-secondary:focus, 
.btn-secondary.disabled:active, 
.btn-secondary[disabled]:active, 
fieldset[disabled] .btn-secondary:active, 
.btn-secondary.disabled.active, 
.btn-secondary[disabled].active, 
fieldset[disabled] .btn-secondary.active { 
  background-color: #607D8B; 
  border-color: #000000; 
} 
 
.btn-secondary .badge { 
  color: #607D8B; 
  background-color: #FFFFFF; 
}

.btn-link {
  color: #00CCCC;
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open > .dropdown-toggle.btn-link {
  color: #009191;
}

.btn-link-red {
  color: #CC4B00;
}

.btn-link-red:hover, .btn-link-red:focus, .btn-link-red:active, .btn-link-red.active, .open > .dropdown-toggle.btn-link-red {
  color: #913500;
}

.btn-link-yellow {
  color: #DEC000;
}

.btn-link-yellow:hover, .btn-link-yellow:focus, .btn-link-yellow:active, .btn-link-yellow.active, .open > .dropdown-toggle.btn-link-yellow {
  color: #C5AA00;
}

.btn-link-gray {
  color: #607D8B;
}

.btn-link-gray:hover, .btn-link-gray:focus, .btn-link-gray:active, .btn-link-gray.active, .open > .dropdown-toggle.btn-link-gray {
  color: #566f7c;
}

.btn-link.disabled {
  color: #607D8B;
}

.btn-link.disabled:hover, .btn-link.disabled:focus, .btn-link.disabled:active, .btn-link.disabled.active, .open > .dropdown-toggle.btn-link.disabled {
  color: #607D8B;
}

.centered {
  text-align: center;
}

.bold {
	font-weight: bold;
}

.box {
  margin: 10px 0px 10px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #F5F5F5;
}

.similar-question-box {
  margin: 10px 0px 10px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #EFC9b2;
}

.similar-question-box:hover, .similar-question-box:focus, .similar-question-box:active, .similar-question-box.active {
  background-color: #E5A57f;
}

.box:hover, .box:focus, .box:active, .box.active {
  background-color: #E8E8E8;
}

.box-blue {
  margin: 10px 0px 10px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #C4EFF1;
}

.box-blue:hover, .box-blue:focus, .box-blue:active, .box-blue.active {
  background-color: #ACE9EC;
}

.box-static {
  padding: 5px 10px 5px 10px;
  background-color: #F5F5F5;
  overflow: auto;
}

.box-static-gray {
  margin: 10px 0px 10px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #F5F5F5;
}

.box-static-blue {
  margin: 10px 0px 10px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #C4EFF1;
}

.box-static-dark {
  padding: 5px 10px 5px 10px;
  background-color: #DCDCDC;
}

.question-box {
  color: #000000;
}

.question-box:hover, .question-box:focus, .question-box:active, .question-box.active {
  color: #000000;
}

.form-group{
	margin-bottom: 0px;
}

.question {
	padding-top: 5px;
}

.home-button {
  padding: 20px 150px;
}

.unemph {
  font-style: italic;
  color: #7A7A7A;
}

.red {
  color: #CC4B00;
}

.scrollbox {
  height:200px;
  overflow-y:scroll;
  background-color: #EFF2F3;
  margin-bottom:10px;
}

.checkbox {
  margin-left: 5px;
}

.right {
  float: right;
}

.no-pad {
  padding: 0px 0px;
}

@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
  margin-right: 0;
  margin-left: 0;
} 

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}

.sidebar-nav .navbar-header{
  float: none;
}

.sidebar-nav {
  position: fixed;
  left: 0;
  top: 25px;
  bottom: -25px;
  width: 16.66666667%;
  z-index: 11;
}

.navbar-simple {
  height: 100%;
  background-color: #005151;
}

.nav .active a {
  background:#003D3D!important 
} 

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #003D3D
}